<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mackeabit.shop.mapper.AdminMapper">


    <select id="findAdminById" parameterType="String" resultType="mackeabit.shop.vo.AdminVO">
        SELECT * FROM admins WHERE id = #{id}
    </select>

    <select id="findNowYearSales" parameterType="Integer" resultType="mackeabit.shop.vo.Annual_SalesVO">
        SELECT SUM(total_sales) AS total_sales FROM sales WHERE YEAR(date) = #{year}
    </select>

    <select id="findLastYearSales" parameterType="Integer" resultType="mackeabit.shop.vo.Annual_SalesVO">
        SELECT * FROM annual_sales WHERE year = #{year}
    </select>

    <select id="findMemberTodaySignUp" resultType="Integer">
        SELECT COUNT(*) FROM members
        WHERE DATE(sign_date) = #{today}
    </select>

    <select id="findMemberYesterdaySignUp" resultType="Integer">
        SELECT COUNT(*) FROM members
        WHERE DATE(sign_date) = #{yesterday}
    </select>

    <select id="monthPrice" parameterType="map" resultType="Integer">
        SELECT SUM(total_sales) FROM sales WHERE YEAR(date) = #{year} AND MONTH(date) = #{month}
    </select>

    <select id="lastMonthPrice" parameterType="map" resultType="Integer">
        SELECT SUM(total_sales) FROM monthly_sales WHERE year=#{year} AND month=#{month}
    </select>

    <select id="countVisit" resultType="Integer">
        SELECT count(DISTINCT member_idx) FROM members_log WHERE DATE(login_date) = #{day};
    </select>

    <select id="signCountWeek" parameterType="map" resultType="mackeabit.shop.dto.SignCountWeekDTO">
        SELECT DATE(sign_date) AS date, COUNT(*) AS count
        FROM members
        WHERE sign_date BETWEEN #{startDate} AND #{endDate}
        GROUP BY DATE(sign_date)
    </select>

    <select id="visitCountWeek" parameterType="map" resultType="mackeabit.shop.dto.SignCountWeekDTO">
        SELECT DATE(login_date) AS date, COUNT(DISTINCT login_ip) AS count
        FROM members_log
        WHERE login_date BETWEEN #{startDate} AND #{endDate}
        GROUP BY DATE(login_date)
    </select>

    <select id="weekSales" parameterType="map" resultType="mackeabit.shop.vo.SalesVO">
        SELECT * FROM sales
        WHERE date BETWEEN #{startDate} AND #{endDate}
        GROUP BY date;
    </select>

    <select id="findAdminMainPayList" resultType="mackeabit.shop.dto.AdminMainPayListDTO">
        SELECT p.pd_nm, pi.sv_loc, pi.sv_locct, m.email, pay.total_price, pay.pay_status
        from payments pay
            JOIN orders o ON pay.order_mi = o.order_mi
            JOIN products p ON p.pd_idx = o.pd_idx
            JOIN product_img pi ON p.pd_idx = pi.pd_idx
            JOIN members m ON m.member_idx = pay.member_idx
        ORDER BY pay.pay_idx DESC limit 7;
    </select>

    <select id="findAdminMainOrderList" resultType="mackeabit.shop.dto.AdminMainOrderListDTO">
        SELECT order_mi, order_date FROM orders ORDER BY order_idx DESC limit 6;
    </select>

    <select id="findAll" resultType="mackeabit.shop.vo.AdminVO">
        SELECT * FROM admins
    </select>

    <select id="findAllMembers" resultType="mackeabit.shop.vo.MembersVO">
        SELECT * FROM members
    </select>

    <select id="findMemberAllInfo" parameterType="Long" resultType="mackeabit.shop.dto.MembersAllInfoDTO">
        SELECT * FROM members m JOIN members_detail md ON m.member_idx = md.member_idx WHERE m.member_idx = #{member_idx}
    </select>

    <select id="findMemberLog" parameterType="Long" resultType="mackeabit.shop.vo.Members_logVO">
        SELECT * FROM members_log WHERE member_idx = #{member_idx} ORDER BY login_date DESC
    </select>

    <update id="updateMembers" parameterType="mackeabit.shop.dto.MembersAllInfoDTO">
        UPDATE members SET email=#{email}, pwd=#{pwd} WHERE member_idx=#{member_idx}
    </update>

    <update id="updateMemberDetails" parameterType="mackeabit.shop.dto.MembersAllInfoDTO">
        UPDATE members_detail SET post_code=#{post_code}, address=#{address}, address_detail=#{address_detail} WHERE member_idx=#{member_idx}
    </update>

    <select id="findByEmail" parameterType="String" resultType="mackeabit.shop.vo.MembersVO">
        SELECT * FROM members WHERE email=#{email}
    </select>

    <update id="delMemberByMember_idx" parameterType="Long">
        UPDATE members SET member_status = -1 WHERE member_idx = #{member_idx}
    </update>

    <select id="findCategory" resultType="mackeabit.shop.vo.CategorysVO">
        SELECT * FROM categorys WHERE category_ref is not null ORDER BY category_code DESC
    </select>

    <select id="daySaleTotal" parameterType="map" resultType="Long">
        SELECT SUM(total_price)
        FROM payments
        WHERE pay_date BETWEEN #{startDate} AND #{endDate}
    </select>

    <select id="findAvrPrice" parameterType="String" resultType="Long">
        SELECT avr_sales FROM sales WHERE date = #{twoAgo}
    </select>

    <insert id="daySalesUpdate" parameterType="mackeabit.shop.vo.SalesVO" useGeneratedKeys="true" keyProperty="sales_idx">
        INSERT INTO sales (date, total_sales, avr_sales)
        VALUES (DATE_SUB(NOW(), INTERVAL 1 DAY), #{total_sales}, #{avr_sales})
    </insert>

    <select id="selectByMonth" parameterType="map" resultType="mackeabit.shop.vo.SalesVO">
        SELECT * FROM sales WHERE YEAR(date) = #{year} AND MONTH(date) = #{month}
    </select>

    <insert id="monthlySaleInsert" parameterType="mackeabit.shop.vo.Monthly_SalesVO" useGeneratedKeys="true" keyProperty="monthly_sales_idx">
        INSERT INTO monthly_sales (year, month, total_sales, avr_sales)
        VALUES (#{year}, #{month}, #{total_sales}, #{avr_sales})
    </insert>

    <select id="selectMonthlySalesByYear" parameterType="Integer" resultType="mackeabit.shop.vo.Monthly_SalesVO">
        SELECT *
        FROM monthly_sales
        WHERE year = #{year}
    </select>

    <insert id="insertAnnualSales" parameterType="mackeabit.shop.vo.Annual_SalesVO" useGeneratedKeys="true" keyProperty="annual_sales_idx">
        INSERT INTO annual_sales (year, total_sales, avr_sales)
        VALUES (#{year}, #{totalSales}, #{avrSales})
    </insert>

    <select id="findProductsList" resultType="mackeabit.shop.dto.MainProductsDTO">
        SELECT * FROM products p
            JOIN product_img pi ON p.pd_idx = pi.pd_idx
            JOIN categorys c ON p.category_code = c.category_code
    </select>

    <select id="findProductByIdx" resultType="mackeabit.shop.dto.MainProductsDTO">
        SELECT * FROM products p JOIN product_img pi ON p.pd_idx = pi.pd_idx WHERE p.pd_idx = #{pd_idx}
    </select>

    <update id="updateProduct" parameterType="mackeabit.shop.vo.ProductsVO">
        UPDATE products SET pd_nm=#{pd_nm}, pd_status=#{pd_status}, category_code=#{category_code}, pd_cnt=#{pd_cnt}, ori_price=#{ori_price},
                            sell_price=#{sell_price}, pd_value=#{pd_value}, pd_kind=#{pd_kind}, pd_color=#{pd_color}, pd_size=#{pd_size}, pd_contents=#{pd_contents} WHERE pd_idx = #{pd_idx}
    </update>

    <update id="updateProductLog" parameterType="Long">
        UPDATE products_log SET modi_date=now() WHERE pd_idx=#{pd_idx}
    </update>

    <select id="findOrderListAll" resultType="mackeabit.shop.dto.AdminAllOrdersDTO">
        select o.*, m.email, p.pd_nm from orders o JOIN members m ON o.member_idx = m.member_idx JOIN products p ON o.pd_idx=p.pd_idx ORDER BY o.order_idx DESC
    </select>

    <select id="findPaymentsListAll" resultType="mackeabit.shop.dto.AdminAllPaymentsDTO">
        SELECT p.*, m.email FROM payments p JOIN members m ON p.member_idx = m.member_idx ORDER BY p.pay_idx DESC
    </select>

    <select id="findPaymentsByIdx" resultType="mackeabit.shop.vo.PaymentsVO">
        SELECT * FROM payments WHERE pay_idx = #{pay_idx}
    </select>

    <update id="updatePaymentsStatus" parameterType="mackeabit.shop.vo.PaymentsVO">
        UPDATE payments SET pay_status = 1 WHERE pay_idx=#{pay_idx}
    </update>

    <select id="findReviewByOrderIdx" parameterType="Long" resultType="mackeabit.shop.dto.AdminReviewDTO">
        SELECT rv.*, o.order_cart_cnt, p.pd_size, p.pd_color, pi.sv_loc, pi.sv_locct, p.sell_price FROM reviews rv
            JOIN products p ON rv.pd_idx = p.pd_idx
            JOIN product_img pi ON rv.pd_idx = pi.pd_idx
            JOIN orders o ON rv.order_idx = o.order_idx WHERE rv.order_idx = #{order_idx};
    </select>

    <select id="findReviewPhoto" parameterType="Long" resultType="mackeabit.shop.vo.PhotosVO">
        SELECT * FROM photos WHERE review_idx = #{review_idx}
    </select>

    <select id="findReviewByIdx" parameterType="Long" resultType="mackeabit.shop.vo.ReviewsVO">
        SELECT * FROM reviews WHERE review_idx = #{review_idx}
    </select>

    <delete id="delReview" parameterType="Long">
        DELETE FROM reviews WHERE review_idx = #{review_idx}
    </delete>

    <update id="changeReviewCheck" parameterType="Long">
        UPDATE orders SET review_ck = -1 WHERE order_idx=#{order_idx}
    </update>

</mapper>