<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mackeabit.shop.mapper.MemberMapper">

    <select id="findAll" resultType="mackeabit.shop.vo.MembersVO">
        select * from Members
    </select>

    <insert id="save" parameterType="mackeabit.shop.vo.MembersVO" useGeneratedKeys="true" keyProperty="member_idx">
        insert into Members values (0, #{email}, #{pwd}, default, default, default, now(), default, null, null)
    </insert>

    <update id="updateMemberLogin_date" parameterType="mackeabit.shop.vo.MembersVO">
        UPDATE Members SET login_date = now() WHERE member_idx = #{member_idx}
    </update>

    <select id="emailCheck" parameterType="String" resultType="int">
        SELECT COUNT(email) FROM Members WHERE email = #{email}
    </select>

    <select id="findByEmail" parameterType="String" resultType="mackeabit.shop.vo.MembersVO">
        SELECT * FROM Members WHERE email = #{email}
    </select>

    <select id="memberDetailOne" parameterType="Long" resultType="mackeabit.shop.vo.MemberDetailVO">
        SELECT * FROM Members_detail WHERE member_idx = #{member_idx}
    </select>

    <update id="changeEmailCheck" parameterType="Long">
        UPDATE Members set email_ck = 0 where member_idx = #{member_idx}
    </update>

    <insert id="insertDetails" parameterType="mackeabit.shop.vo.MemberDetailVO">
        insert into Members_detail values (#{member_idx}, #{post_code}, #{address}, #{address_detail})
    </insert>

    <insert id="saveMember_log" parameterType="mackeabit.shop.vo.Members_logVO" useGeneratedKeys="true" keyProperty="ml_idx">
        INSERT INTO members_log values (0, #{member_idx}, now(), #{login_ip})
    </insert>

    <select id="findOrders" parameterType="Long" resultType="mackeabit.shop.dto.MainProductsDTO">
        select * from orders o JOIN products p ON p.pd_idx = o.pd_idx join product_img pi ON p.pd_idx = pi.pd_idx
                 where member_idx = #{member_idx}
                   and order_date >= DATE_SUB(NOW(), INTERVAL 1 DAY)
                       order by o.order_idx desc;
    </select>

    <select id="findPayments" parameterType="Long" resultType="mackeabit.shop.dto.MyPagePayDTO">
        select * from payments as p, orders as o where p.order_mi=o.order_mi and p.member_idx = #{member_idx} order by pay_date desc;
    </select>

    <select id="findMemberDetailByMemberIdx" parameterType="Long" resultType="mackeabit.shop.vo.MemberDetailVO">
        select * from members_detail where member_idx = #{member_idx};
    </select>

    <update id="updateMemberStatus" parameterType="mackeabit.shop.dto.SignUpDTO">
        UPDATE members SET member_status = 2 where email = #{email}
    </update>

    <update id="updateDetails" parameterType="mackeabit.shop.vo.MemberDetailVO">
        update members_detail set post_code=#{post_code}, address=#{address}, address_detail=#{address_detail} where member_idx=#{member_idx}
    </update>

    <update id="updateMembers" parameterType="mackeabit.shop.vo.MembersVO">
        update members set pwd=#{pwd} where member_idx = #{member_idx}
    </update>

<!--    <select id="myOrdersList" parameterType="Long" resultType="mackeabit.shop.dto.MyOrdersDTO">
        select * from orders o JOIN products p ON p.pd_idx = o.pd_idx join product_img pi ON p.pd_idx = pi.pd_idx
        where member_idx = #{member_idx}
        order by o.order_idx desc;
    </select>-->

    <select id="myOrdersList" parameterType="map" resultType="mackeabit.shop.dto.MyOrdersDTO">
        select * from orders o
          JOIN products p ON p.pd_idx = o.pd_idx
          join product_img pi ON p.pd_idx = pi.pd_idx
        where member_idx = #{member_idx}
        order by o.order_idx desc
            limit #{limit} offset #{offset};
    </select>

    <select id="findOrder_mi" parameterType="Long" resultType="String">
        select distinct order_mi from payments where member_idx = #{member_idx} order by pay_idx desc;
    </select>

    <select id="findPayAndOrder" parameterType="map" resultType="mackeabit.shop.dto.MyPayAndOrderDTO">
        select * from orders o JOIN products p ON p.pd_idx = o.pd_idx
            join product_img pi ON p.pd_idx = pi.pd_idx
            join payments pay ON pay.order_mi = o.order_mi
                 where pay.member_idx =#{member_idx} and pay.order_mi = #{order_mi} order by pay_idx desc;
    </select>

    <select id="findByDelete_dateBefore" resultType="mackeabit.shop.vo.MembersVO">
        SELECT *
        FROM members
        WHERE delete_date &lt; #{minusDays}
    </select>

    <select id="findDeleteCandidates" resultType="mackeabit.shop.vo.MembersVO">
        SELECT *
        FROM members
        WHERE member_status = 2 OR member_status = -1 AND delete_date IS NOT NULL AND delete_date &lt; #{deleteCutoffTime}
    </select>

    <select id="findRestCandidates" resultType="mackeabit.shop.vo.MembersVO">
        SELECT * FROM members WHERE member_status = 1
         AND(
         (login_date IS NOT NULL AND login_date &lt; #{restTime}) OR (login_date IS NULL AND sign_date &lt; #{restTime})
        )
    </select>

    <update id="delete" parameterType="mackeabit.shop.vo.MembersVO">
        UPDATE members SET member_status = -1 WHERE member_idx = ${member_idx}
    </update>

    <update id="changeStatusAtRest" parameterType="mackeabit.shop.vo.MembersVO">
        UPDATE members SET member_status = 0 WHERE member_idx = ${member_idx}
    </update>

    <update id="restoreMemberStatus" parameterType="mackeabit.shop.dto.SignUpDTO">
        UPDATE members SET member_status = 1 WHERE email = ${email}
    </update>
<!--
    <delete id="realDelete" parameterType="mackeabit.shop.vo.MembersVO">
        DELETE FROM members WHERE member_idx=#{member_idx}
    </delete>
-->

    <delete id="realDeleteInfo" parameterType="mackeabit.shop.vo.MembersVO">
        DELETE FROM members_detail WHERE member_idx=#{member_idx}
    </delete>

    <select id="enableMyReviews" parameterType="Long" resultType="mackeabit.shop.dto.MyReviewsDTO">
        SELECT * FROM orders o JOIN products p ON o.pd_idx = p.pd_idx JOIN product_img pi ON p.pd_idx = pi.pd_idx WHERE member_idx = #{member_idx} and o.review_ck = -1
    </select>

    <select id="disableMyReviews" parameterType="Long" resultType="mackeabit.shop.dto.MyWriteReviewsDTO">
        select rv.review_idx, p.pd_idx, rv.title, rv.contents, rv.date, rv.stars, p.pd_nm, o.order_idx, p.pd_nm, o.order_mi, pi.sv_loc, pi.sv_locct from reviews rv
            JOIN products p ON rv.pd_idx = p.pd_idx
            JOIN orders o ON o.order_idx = rv.order_idx
            JOIN product_img pi ON p.pd_idx = pi.pd_idx
                 where rv.member_idx = #{member_idx} ORDER BY review_idx DESC;
    </select>

</mapper>