<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mackeabit.shop.mapper.OrderMapper">

    <insert id="save" parameterType="map" useGeneratedKeys="true" keyProperty="order_idx">
        insert into orders values(0, #{order_mi}, #{member_idx}, #{pd_idx}, #{now_price}, #{address}, now(), #{shipping_code}, #{order_cart_cnt}, default)
    </insert>

    <insert id="saveAll" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="order_idx">
        insert into orders (order_mi, member_idx, pd_idx, now_price, address, address_detail, order_date, shipping_code, order_cart_cnt, review_ck) values
        <foreach collection="list" item="item" separator=",">
            (#{item.order_mi}, #{item.member_idx}, #{item.pd_idx}, #{item.now_price}, #{item.address}, #{item.address_detail}, now(), #{item.shipping_code}, #{item.order_cart_cnt}, default)
        </foreach>
    </insert>

    <select id="popUpReview" parameterType="mackeabit.shop.dto.PopUpWriteReviewDTO" resultType="mackeabit.shop.dto.PopUpWriteReviewDTO">
        select o.order_idx, o.order_date, p.pd_idx, p.pd_nm, p.pd_color, p.pd_size, pi.sv_locct
        from orders o
            JOIN products p ON p.pd_idx = o.pd_idx
            join product_img pi ON p.pd_idx = pi.pd_idx
        where pd_nm=#{pd_nm} AND review_ck = -1 AND member_idx=#{member_idx} order by cast(pd_size AS unsigned), substring(pd_size, 1) DESC;
    </select>

    <update id="reviewCheck" parameterType="Long">
        UPDATE orders SET review_ck = 0 WHERE order_idx = #{order_idx}
    </update>

    <update id="productCntManageAtOrder" parameterType="java.util.List">
        <foreach collection="list" item="product" separator=";">
            UPDATE products SET pd_cnt = pd_cnt + #{product.pd_cnt}
            WHERE pd_idx = #{product.pd_idx}
        </foreach>
    </update>

    <select id="findCoupon" parameterType="String" resultType="mackeabit.shop.dto.CouponMemberDTO">
        SELECT * FROM coupons WHERE cp_nm=#{coupon_code}
    </select>

    <insert id="usedCoupon" parameterType="map" useGeneratedKeys="true" keyProperty="mc_idx">
        INSERT INTO members_coupon (member_idx, cp_nm) VALUES (#{member_idx}, #{cp_nm})
    </insert>

    <update id="minusCntCouponByIdx" parameterType="Long">
        UPDATE coupons SET cp_cnt = cp_cnt-1 WHERE cp_idx=#{cp_idx}
    </update>

</mapper>