<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mackeabit.shop.mapper.OrderMapper">

    <insert id="save" parameterType="map" useGeneratedKeys="true" keyProperty="pay_idx">
        insert into payments values(0, #{order_mi}, #{member_idx}, #{total_price}, -1, #{pay_code})
    </insert>

    <insert id="saveAll" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="pay_idx">
        insert into payments values (order_mi, member_idx, total_price, pay_status, pay_code)
        <foreach collection="list" item="item" separator=",">
            (#{order_mi}, #{member_idx}, #{total_price}, -1, #{pay_code})
        </foreach>
    </insert>




</mapper>