<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mackeabit.shop.mapper.OrderMapper">

    <insert id="save" parameterType="map" useGeneratedKeys="true" keyProperty="order_idx">
        insert into orders values(0, #{order_mi}, #{member_idx}, #{pd_idx}, #{now_price}, #{address}, now(), #{shipping_code}, #{order_cart_cnt})
    </insert>

    <insert id="saveAll" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="order_idx">
        insert into orders (order_mi, member_idx, pd_idx, now_price, address, address_detail, order_date, shipping_code, order_cart_cnt) values
        <foreach collection="list" item="item" separator=",">
            (#{item.order_mi}, #{item.member_idx}, #{item.pd_idx}, #{item.now_price}, #{item.address}, #{item.address_detail}, now(), #{item.shipping_code}, #{item.order_cart_cnt})
        </foreach>
    </insert>




</mapper>