<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mackeabit.shop.mapper.ProductMapper">

    <select id="findAll" parameterType="Integer" resultType="mackeabit.shop.vo.ProductsVO">
        select * from products
        <where>
           <if test="pd_value != null">
               and pd_idx in (select max(pd_idx) from products group by pd_nm) AND pd_value = #{pd_value};
           </if>
        </where>
    </select>


</mapper>