<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mackeabit.shop.mapper.ProductMapper">

    <select id="findAll" parameterType="Integer" resultType="mackeabit.shop.vo.ProductsVO">
        select * from products
        <where>
           <if test="pd_value != null">
               and pd_idx in (select max(pd_idx) from products group by pd_nm) AND pd_value = #{pd_value};
           </if>
        </where>
    </select>


    <select id="findColors" resultType="mackeabit.shop.dto.ColorsDTO">
        select distinct pd_nm, pd_color from products;
    </select>

    <select id="findSizes" resultType="mackeabit.shop.dto.SizesDTO">
        select distinct pd_nm, pd_size from products order by cast(pd_size AS unsigned), substring(pd_size, 1) DESC;
    </select>

    <select id="findPd_idx" parameterType="mackeabit.shop.dto.CartInsertDTO" resultType="Long">
        select pd_idx from products
        <where>
            <if test="pd_size != null and pd_color != null">
                and pd_nm=#{pd_nm} and pd_size=#{pd_size} and pd_color=#{pd_color};
            </if>
            <if test="pd_size == null and pd_color != null">
                and pd_nm=#{pd_nm} and pd_size is null and pd_color=#{pd_color};
            </if>
            <if test="pd_size != null and pd_color == null">
                and pd_nm=#{pd_nm} and pd_size=#{pd_size} and pd_color is null;
            </if>
        </where>
    </select>

    <select id="searchByName" parameterType="String" resultType="mackeabit.shop.dto.MainProductsDTO">
        select * from products p JOIN product_img pi ON p.pd_idx = pi.pd_idx
        <where>
            <if test="keyword != null">
                and p.pd_idx in (select max(pd_idx) from products group by pd_nm) AND pd_nm Like CONCAT('%', #{keyword}, '%');
            </if>
        </where>

    </select>

</mapper>