<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mackeabit.shop.mapper.ProductMapper">

    <select id="findAll" parameterType="Integer" resultType="mackeabit.shop.vo.ProductsVO">
        select * from products
        <where>
           <if test="pd_value != null">
               and pd_idx in (select max(pd_idx) from products group by pd_nm) AND pd_value = #{pd_value};
           </if>
        </where>
    </select>


    <select id="findColors" resultType="mackeabit.shop.dto.ColorsDTO">
        select distinct pd_nm, pd_color from products;
    </select>

    <select id="findSizes" resultType="mackeabit.shop.dto.SizesDTO">
        select distinct pd_nm, pd_size from products order by cast(pd_size AS unsigned), substring(pd_size, 1) DESC;
    </select>


    <select id="findPd_idx" parameterType="mackeabit.shop.dto.CartInsertDTO" resultType="Long">
        select pd_idx from products
        <where>
            <if test="pd_size != null and pd_color != null">
                and pd_nm=#{pd_nm} and pd_size=#{pd_size} and pd_color=#{pd_color};
            </if>
            <if test="pd_size == null and pd_color != null">
                and pd_nm=#{pd_nm} and pd_size is null and pd_color=#{pd_color};
            </if>
            <if test="pd_size != null and pd_color == null">
                and pd_nm=#{pd_nm} and pd_size=#{pd_size} and pd_color is null;
            </if>
        </where>
    </select>

    <select id="searchByName" parameterType="String" resultType="mackeabit.shop.dto.MainProductsDTO">
        select * from products p JOIN product_img pi ON p.pd_idx = pi.pd_idx JOIN products_stars ps ON p.pd_nm = ps.pd_nm
        <where>
            <if test="keyword != null">
                and p.pd_idx in (select max(pd_idx) from products group by pd_nm) AND pd_nm Like CONCAT('%', #{keyword}, '%');
            </if>
        </where>
    </select>

    <select id="bestProducts" parameterType="map" resultType="mackeabit.shop.dto.MainProductsDTO">
        select * from products p
                          JOIN product_img pi ON p.pd_idx = pi.pd_idx JOIN products_stars ps ON p.pd_nm = ps.pd_nm
        <where>
            <if test="pd_kind == 2">
                and p.pd_idx in (select max(pd_idx) from products group by pd_nm) and pd_value=#{pd_value}
                limit #{pageSize} offset #{startIndex}
            </if>
            <if test="pd_kind != 2">
                and p.pd_idx in (select max(pd_idx) from products group by pd_nm) and pd_kind=#{pd_kind} and pd_value=#{pd_value}
                limit #{pageSize} offset #{startIndex}
            </if>
        </where>
    </select>

    <select id="countBestProducts" parameterType="map" resultType="java.lang.Integer">
        select count(*) as total
        from products p
                 JOIN product_img pi ON p.pd_idx = pi.pd_idx and pd_kind=#{pd_kind} and pd_value=#{pd_value}
        where p.pd_idx in (select max(pd_idx) from products group by pd_nm);
    </select>

    <select id="findSuggest" parameterType="map" resultType="mackeabit.shop.dto.SgPdDTO">
        select p.pd_idx, p.pd_nm, p.sell_price, pi.sv_locct from products p JOIN product_img pi ON p.pd_idx = pi.pd_idx
    <where>
        <if test="pd_kind == null">
            and p.pd_idx in (select max(pd_idx) from products group by pd_nm) ORDER BY RAND() LIMIT 3
        </if>
        <if test="pd_kind != null">
            and p.pd_idx in (select max(pd_idx) from products group by pd_nm) and pd_kind = #{pd_kind} ORDER BY RAND() LIMIT 3
        </if>
    </where>
    </select>

    <select id="countCategoryProducts" parameterType="map" resultType="java.lang.Integer">
        select count(*) as total
        from products p
                 JOIN product_img pi ON p.pd_idx = pi.pd_idx join categorys c ON p.category_code = c.category_code
        <where>
            <if test="pd_kind != null">
                and pd_kind=#{pd_kind} and p.category_code=#{category_code}
                and p.pd_idx in (select max(pd_idx) from products group by pd_nm);
            </if>
            <if test="pd_kind == null">
                and p.category_code=#{category_code}
                and p.pd_idx in (select max(pd_idx) from products group by pd_nm);
            </if>
        </where>
    </select>

    <select id="categoryProducts" parameterType="map" resultType="mackeabit.shop.dto.MainProductsDTO">
        select * from products p JOIN product_img pi ON p.pd_idx = pi.pd_idx join categorys c ON p.category_code = c.category_code JOIN products_stars ps ON p.pd_nm = ps.pd_nm
        <where>
            <if test="pd_kind == null">
                and p.category_code=#{category_code} and p.pd_idx in (select max(pd_idx) from products group by pd_nm) limit #{pageSize} offset #{startIndex}
            </if>
            <if test="pd_kind == 2">
                and p.pd_idx in (select max(pd_idx) from products group by pd_nm) and p.category_code=#{category_code}
                limit #{pageSize} offset #{startIndex}
            </if>
            <if test="pd_kind != 2 and pd_kind != null">
                and p.pd_idx in (select max(pd_idx) from products group by pd_nm) and pd_kind=#{pd_kind} and p.category_code=#{category_code}
                limit #{pageSize} offset #{startIndex}
            </if>
        </where>
    </select>

    <select id="topCategoryProducts" parameterType="map" resultType="mackeabit.shop.dto.MainProductsDTO">
        SELECT *
        FROM products p
        JOIN product_img pi ON p.pd_idx = pi.pd_idx
        JOIN categorys c ON p.category_code = c.category_code
        JOIN products_stars ps ON p.pd_nm = ps.pd_nm
        WHERE p.category_code IN (SELECT category_code FROM categorys WHERE category_ref = #{category_code} OR category_code = #{category_code})
        AND p.pd_idx IN (SELECT MAX(pd_idx) FROM products GROUP BY pd_nm)
        <if test="pd_kind != null">
            AND pd_kind = #{pd_kind}
        </if>
        LIMIT #{pageSize} OFFSET #{startIndex}
    </select>

    <select id="topCountCategoryProducts" parameterType="map" resultType="java.lang.Integer">
        select count(*) as total
        from products p
        join product_img pi on p.pd_idx = pi.pd_idx
        join categorys c on p.category_code = c.category_code
        JOIN products_stars ps ON p.pd_nm = ps.pd_nm
        where (p.category_code = #{category_code}
        or c.category_ref = #{category_code})
        <if test="pd_kind != null">
            and pd_kind = #{pd_kind}
        </if>
        and p.pd_idx in (select max(pd_idx) from products group by pd_nm);
    </select>

    <select id="findByPd_nm" parameterType="String" resultType="mackeabit.shop.dto.MainProductsDTO">
        select * from products p JOIN product_img pi ON p.pd_idx = pi.pd_idx
            join categorys c ON p.category_code = c.category_code
                 where pd_nm = #{pd_nm};
    </select>

    <select id="findRecommendProducts" parameterType="Integer" resultType="mackeabit.shop.dto.MainProductsDTO">
        SELECT *
        FROM products p
                 JOIN product_img pi ON p.pd_idx = pi.pd_idx
                 JOIN categorys c ON p.category_code = c.category_code JOIN products_stars ps ON p.pd_nm = ps.pd_nm
        WHERE p.category_code IN (SELECT category_code FROM categorys WHERE category_ref = #{category_code} OR category_code = #{category_code})
          AND p.pd_idx IN (SELECT MAX(pd_idx) FROM products GROUP BY pd_nm)
    </select>

    <update id="updateProductStars" parameterType="String">
        UPDATE products_stars SET stars = (
            SELECT AVG(stars) FROM reviews WHERE pd_nm=#{pd_nm}
            ) WHERE pd_nm = #{pd_nm}
    </update>

    <select id="findQnaByPd_nm" parameterType="map" resultType="mackeabit.shop.vo.NoticesVO">
        SELECT * FROM notices WHERE pd_nm = #{pd_nm} ORDER BY notice_idx DESC limit #{pageSize} offset #{startIndex}
    </select>

    <select id="findReviewsByPd_nm" parameterType="map" resultType="mackeabit.shop.vo.ReviewsVO">
        SELECT * FROM reviews WHERE pd_nm = #{pd_nm} ORDER BY review_idx DESC limit #{pageSize} offset #{startIndex}
    </select>

    <select id="countReviews" parameterType="String" resultType="Integer">
        SELECT COUNT(*) FROM reviews WHERE pd_nm = #{pd_nm}
    </select>

    <select id="countQnas" parameterType="String" resultType="Integer">
        SELECT COUNT(*) FROM notices WHERE pd_nm = #{pd_nm}
    </select>

    <select id="findStarsByPd_nm" parameterType="String" resultType="mackeabit.shop.vo.Products_starsVO">
        SELECT * FROM products_stars WHERE pd_nm = #{pd_nm}
    </select>

    <insert id="insertProductLogByPd_idx" parameterType="mackeabit.shop.vo.Products_logVO" useGeneratedKeys="true" keyProperty="pdl_idx">
        INSERT INTO products_log (pd_idx, reg_date, modi_date) VALUES (#{pd_idx}, now(), null)
    </insert>

    <insert id="insertProduct" parameterType="mackeabit.shop.vo.ProductsVO" useGeneratedKeys="true" keyProperty="pd_idx">
        INSERT INTO products (pd_nm, pd_status, category_code, pd_cnt, ori_price, sell_price, pd_value, pd_kind, pd_color, pd_size, pd_contents)
        VALUES (#{pd_nm}, default, #{category_code}, #{pd_cnt}, #{ori_price}, #{sell_price}, #{pd_value}, #{pd_kind}, #{pd_color}, #{pd_size}, #{pd_contents} )
    </insert>

    <insert id="insertProductImg" parameterType="mackeabit.shop.vo.Product_imgVO" useGeneratedKeys="true" keyProperty="pd_img_idx">
        INSERT INTO product_img (pd_idx, pd_img, pd_imgCt, sv_loc, sv_locCt)
        VALUES (#{pd_idx}, #{pd_img}, #{pd_imgCt}, #{sv_loc}, #{sv_locCt})
    </insert>

    <insert id="insertProductStar" parameterType="mackeabit.shop.vo.Products_starsVO">
        INSERT INTO products_stars (pd_nm, stars) VALUES (#{pd_nm}, default)
    </insert>

</mapper>