<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mackeabit.shop.mapper.SuBMapper">

    <select id="findAll" resultType="mackeabit.shop.vo.Photos_toMainVO">
        select *
        from photos_tomain;
    </select>

    <select id="findThings" parameterType="Integer" resultType="mackeabit.shop.vo.Photos_toMainVO">
        select * from photos_tomain where to_use = #{to_use};
    </select>


    <select id="mainPageProducts" parameterType="Integer" resultType="mackeabit.shop.dto.MainProductsDTO">
        select * from products p JOIN product_img pi ON p.pd_idx = pi.pd_idx
        <where>
            <if test="pd_value != null">
                and p.pd_idx in (select max(pd_idx) from products group by pd_nm) AND pd_value = #{pd_value};
            </if>
        </where>
    </select>

    <select id="sortAllProductsSizes" resultType="mackeabit.shop.dto.MainProductsDTO">
        select * from products p JOIN product_img pi ON p.pd_idx = pi.pd_idx order by cast(p.pd_size AS unsigned), substring(p.pd_size, 1) DESC
    </select>

</mapper>