<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mackeabit.shop.mapper.SuBMapper">

    <select id="findCategories" parameterType="Integer" resultType="mackeabit.shop.vo.CategorysVO">
        select * from categorys where category_code = #{category_code}
    </select>

    <select id="findAll" resultType="mackeabit.shop.vo.Photos_toMainVO">
        select *
        from photos_tomain;
    </select>

    <select id="findThings" parameterType="Integer" resultType="mackeabit.shop.vo.Photos_toMainVO">
        select * from photos_tomain where to_use = #{to_use};
    </select>


    <select id="mainPageProducts" parameterType="Integer" resultType="mackeabit.shop.dto.MainProductsDTO">
        select * from products p JOIN product_img pi ON p.pd_idx = pi.pd_idx JOIN products_stars ps ON p.pd_nm = ps.pd_nm
        <where>
            <if test="pd_value == 4">
                and p.pd_idx in (select max(pd_idx) from products group by pd_nm)
            </if>
            <if test="pd_value != null and pd_value != 4">
                and p.pd_idx in (select max(pd_idx) from products group by pd_nm) AND pd_value = #{pd_value}
            </if>
        </where>
    </select>

    <select id="sortAllProductsSizes" resultType="mackeabit.shop.dto.MainProductsDTO">
        select * from products p JOIN product_img pi ON p.pd_idx = pi.pd_idx order by cast(p.pd_size AS unsigned), substring(p.pd_size, 1) DESC
    </select>

    <select id="mainPageProductsPaged" parameterType="map" resultType="mackeabit.shop.dto.MainProductsDTO">
        select * from products p
                          JOIN product_img pi ON p.pd_idx = pi.pd_idx
        where p.pd_idx in (select max(pd_idx) from products group by pd_nm)
            limit #{pageSize} offset #{startIndex};
    </select>

    <select id="countMainPageProducts" parameterType="map" resultType="java.lang.Integer">
        select count(*) as total
        from products p
                 JOIN product_img pi ON p.pd_idx = pi.pd_idx
        where p.pd_idx in (select max(pd_idx) from products group by pd_nm);
    </select>

    <update id="cancelRequestPay" parameterType="Long">
        UPDATE payments SET pay_status = 0 WHERE pay_idx = #{pay_idx}
    </update>

    <insert id="insertReview" parameterType="mackeabit.shop.vo.ReviewsVO" useGeneratedKeys="true" keyProperty="review_idx">
        INSERT INTO reviews (member_idx, pd_idx, title, contents, date, stars, pd_nm, order_idx)
        VALUES (#{member_idx}, #{pd_idx}, #{title}, #{contents}, now(), #{stars}, #{pd_nm}, #{order_idx})
    </insert>

    <select id="popUpQna" parameterType="String" resultType="mackeabit.shop.dto.PopUpWriteQnaDTO">
        select p.pd_idx, p.pd_nm, p.pd_color, p.pd_size, pi.sv_locCt from products p
            JOIN product_img pi ON p.pd_idx = pi.pd_idx where pd_nm=#{pd_nm} order by cast(pd_size AS unsigned), substring(pd_size, 1) DESC;
    </select>

    <insert id="insertQna" parameterType="mackeabit.shop.vo.NoticesVO" useGeneratedKeys="true" keyProperty="notice_idx">
        INSERT INTO notices (member_idx, title, contents, date, secret_ck, pd_nm)
        VALUES (#{member_idx}, #{title}, #{contents}, now(), #{secret_ck}, #{pd_nm})
    </insert>

    <select id="findReviewsMain" resultType="mackeabit.shop.vo.ReviewsVO">
        SELECT * FROM reviews ORDER BY stars DESC limit 3
    </select>

</mapper>