<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="/img/core-img/favicon.ico">
  <link rel="icon" type="image/png" href="/img/core-img/favicon.ico">
  <title>
    Come With Me | 관리자 계정 추가
  </title>


  <!--    <link rel="canonical" href="https://www.creative-tim.com/product/material-dashboard-pro" />-->

  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />

  <link href="/adminV2/assets/css/nucleo-icons.css" rel="stylesheet" />
  <link href="/adminV2/assets/css/nucleo-svg.css" rel="stylesheet" />

  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">

  <link id="pagestyle" href="/adminV2/assets/css/material-dashboard.min.css?v=3.0.7" rel="stylesheet" />

  <!-- 제이쿼리 -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>


</head>
<body class="">

<div class="container position-sticky z-index-sticky top-0">
  <div class="row">
    <div class="col-12">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg blur border-radius-xl top-0 z-index-3 shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
        <div class="container-fluid ps-2 pe-0">
          <a class="navbar-brand font-weight-bolder ms-lg-0 ms-3 " href="/admin">
            Come With Me | Admin
          </a>
          <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon mt-2">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </span>
          </button>
        </div>
      </nav>
      <!-- End Navbar -->
    </div>
  </div>
</div>


<main class="main-content  mt-0">
  <div class="page-header align-items-start min-vh-100" style="background-image: url('https://images.unsplash.com/photo-1448375240586-882707db888b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1650&q=80');">
    <span class="mask bg-gradient-dark opacity-6"></span>
    <div class="container my-auto" style="margin-left: 200px;">
      <div class="row">
        <div class="col-lg-4 col-md-8 mx-auto">
          <div class="card z-index-0">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-success shadow-success border-radius-lg py-3 pe-1">
                <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">관리자 추가</h4>
              </div>
            </div>
            <div class="row px-xl-5 px-sm-4 px-3">
              <div class="mt-2 position-relative text-center">
                <p class="text-sm font-weight-bold mb-2 text-secondary text-border d-inline z-index-2 bg-white px-3">
                  계정 추가
                </p>
              </div>
            </div>
            <div class="card-body">
              <form id="signForm" role="form">
                <div class="input-group input-group-dynamic mb-3">
                  <label class="form-label">ID</label>
                  <input type="text" name="id" class="form-control" aria-label="Email">
                </div>
                <div class="input-group input-group-dynamic mb-3">
                  <label class="form-label">Password</label>
                  <input type="password" name="pwd" class="form-control" aria-label="Password">
                </div>
                <div class="text-center">
                  <button id="plusAc" type="button" class="btn bg-gradient-dark w-100 my-4 mb-2">추가 하기</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>

      $('#plusAc').click(function () {

        let formData = $('#signForm').serialize();


        $.ajax({
          type : "POST",
          url : "/admin/adminAdd",
          data : formData,
          success: function(data){
            console.log(data);
            if(data == 'Y'){
              alert("추가 되었습니다.");
              location.reload();
            }else{
              alert("잠시 후 다시 시도해주세요.")
              location.reload();
            }
          },
          error: function(data){
            alert("잠시 후 재시도 해주세요.");
          }
        });

      });


    </script>

    <footer class="footer py-4  ">
      <div class="container-fluid">
        <div class="row align-items-center justify-content-lg-between">
          <div class="col-lg-6 mb-lg-0 mb-4">
            <div class="copyright text-center text-sm text-muted text-lg-start">
              © <script>
              document.write(new Date().getFullYear())
            </script>,
              made with <i class="fa fa-heart"></i> by
              <a href="https://www.creative-tim.com" class="font-weight-bold">Creative Tim</a>
              for a better web.
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
</main>

<script src="/adminV2/assets/js/core/popper.min.js"></script>
<script src="/adminV2/assets/js/core/bootstrap.min.js"></script>
<script src="/adminV2/assets/js/plugins/perfect-scrollbar.min.js"></script>
<script src="/adminV2/assets/js/plugins/smooth-scrollbar.min.js"></script>

<script src="/adminV2/assets/js/plugins/dragula/dragula.min.js"></script>
<script src="/adminV2/assets/js/plugins/jkanban/jkanban.js"></script>

<script async defer src="https://buttons.github.io/buttons.js"></script>

<script src="/adminV2/assets/js/material-dashboard.js?v=3.0.6"></script>
<script defer src="https://static.cloudflareinsights.com/beacon.min.js/vaafb692b2aea4879b33c060e79fe94621666317369993" integrity="sha512-0ahDYl866UMhKuYcW078ScMalXqtFJggm7TmlUtp0UlD4eQk0Ixfnm5ykXKvGJNFjLMoortdseTfsRT8oCfgGA==" data-cf-beacon='{"rayId":"7a803e3e28470510","version":"2023.2.0","r":1,"token":"1b7cbb72744b40c580f8633c6b62637e","si":100}' crossorigin="anonymous"></script>
</body>
</html>