<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Come With Me | Checkout</title>

    <!-- Favicon  -->
    <link rel="icon" href="/img/core-img/favicon.ico">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="/css/core-style.css">
    <link rel="stylesheet" href="/style.css">

    <!-- Responsive CSS -->
    <link href="/css/responsive.css" rel="stylesheet">


    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-latest.js"></script>

    <!-- 카카오 주소 API -->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

    <!-- iamport.payment.js -->
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
</head>

<body>
<div class="catagories-side-menu">
    <!-- Close Icon -->
    <div id="sideMenuClose">
        <i class="ti-close"></i>
    </div>
    <!--  Side Nav  -->
    <div class="nav-side-menu">
        <div class="menu-list">
            <h6>Categories</h6>
            <ul id="menu-content" class="menu-content collapse out">
                <!-- Single Item -->
                <li data-toggle="collapse" data-target="#women" class="collapsed active">
                    <a href="#">Woman wear <span class="arrow"></span></a>
                    <ul class="sub-menu collapse" id="women">
                        <li><a th:href="@{|/products/best/2/1|}" href="#">여성 인기 상품</a></li>
                        <li><a th:href="@{|/products/woman/category/4|}" href="#">상의</a></li>
                        <li><a th:href="@{|/products/woman/category/5|}" href="#">하의</a></li>
                        <li><a th:href="@{|/products/woman/category/6|}" href="#">원피스</a></li>
                        <li><a th:href="@{|/products/woman/category/7|}" href="#">드레스 세트</a></li>
                    </ul>
                </li>
                <!-- Single Item -->
                <li data-toggle="collapse" data-target="#man" class="collapsed">
                    <a href="#">Man Wear <span class="arrow"></span></a>
                    <ul class="sub-menu collapse" id="man">
                        <li><a th:href="@{|/products/best/2/0|}" href="#">남성 인기 상품</a></li>
                        <li><a th:href="@{|/products/man/category/4|}" href="#">상의</a></li>
                        <li><a th:href="@{|/products/man/category/5|}" href="#">하의</a></li>
                    </ul>
                </li>
                <!-- Single Item -->
                <li data-toggle="collapse" data-target="#bags" class="collapsed">
                    <a href="#">Bags &amp; SHOES <span class="arrow"></span></a>
                    <ul class="sub-menu collapse" id="bags">
                        <li><a th:href="@{|/products/category/11|}" href="#">신발</a></li>
                        <li><a th:href="@{|/products/category/12|}" href="#">가방</a></li>
                    </ul>
                </li>
                <!-- Single Item -->
                <li data-toggle="collapse" data-target="#eyewear" class="collapsed">
                    <a href="#">ACC <span class="arrow"></span></a>
                    <ul class="sub-menu collapse" id="eyewear">
                        <li><a th:href="@{|/products/category/8|}" href="#">모자</a></li>
                        <li><a th:href="@{|/products/category/9|}" href="#">양말</a></li>
                        <li><a th:href="@{|/products/category/10|}" href="#">주얼리</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

    <div id="wrapper">

        <!-- ****** Header Area Start ****** -->
        <header class="header_area bg-img background-overlay-white" style="background-image: url(/img/bg-img/bg-1.jpg);">
            <!-- Top Header Area Start -->
            <div class="top_header_area">
                <div class="container h-100">
                    <div class="row h-100 align-items-center justify-content-end">

                        <div class="col-12 col-lg-7">
                            <div class="top_single_area d-flex align-items-center">
                                <!-- Logo Area 로고 이미지 -->
                                <div class="top_logo">
                                    <a href="/"><img src="/img/core-img/logo.png" alt=""></a>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Top Header Area End -->
            <div class="main_header_area">
                <div class="container h-100">
                    <div class="row h-100">
                        <div class="col-12 d-md-flex justify-content-between">
                            <!-- Header Social Area -->
                            <div class="header-social-area">
                                <a href="/myPage"><i class="fa fa-user-circle" aria-hidden="true"></i></a>
                                <a th:if = "${session.loginMember != null}" href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i></a> <!-- 로그아웃 -->
                                <a th:if = "${session.loginMember == null}" href="/login"><i class="fa fa-sign-in" aria-hidden="true"></i></a> <!-- 로그인 -->
                                <a href="#" id="scrollDown"><i class="fa fa-search" aria-hidden="true"></i></a> <!-- 검색 아이콘-->
                            </div>

                            <script>

                                /* 검색 아이콘 클릭시 아래로 이동 */

                                $('#scrollDown').on('click', function(e){
                                    $("html, body").animate({
                                        scrollTop : $(document).height()
                                    }, 800);
                                    return false;
                                })

                            </script>


                            <!-- Menu Area 카테고리 수평 -->
                            <div class="main-menu-area">
                                <nav class="navbar navbar-expand-lg align-items-start">

                                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#karl-navbar" aria-controls="karl-navbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"><i class="ti-menu"></i></span></button>

                                    <div class="collapse navbar-collapse align-items-start collapse" id="karl-navbar">
                                        <ul class="navbar-nav animated" id="nav">
                                            <li class="nav-item active"><a class="nav-link" th:href="@{|/products/best/2/2|}" href="#">Best</a></li>
                                            <li class="nav-item"><a class="nav-link" th:href="@{|/products/category/1|}" href="#">Clothes</a></li>
                                            <li class="nav-item"><a class="nav-link" th:href="@{|/products/category/3|}" href="#">Bag & Shoes</a></li>
                                            <li class="nav-item"><a class="nav-link" th:href="@{|/products/category/2|}" href="#"><span class="karl-level">hot</span>Accessories</a></li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                            <!-- Help Line -->
                            <div class="help-line">
                                <a href="tel:+82 10 4608 3902"><i class="ti-headphone-alt"></i>+82 10 4608 3902</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- ****** Header Area End ****** -->


        <!-- ****** Top Discount Area Start ****** -->
        <section class="top-discount-area d-md-flex align-items-center">
            <!-- Single Discount Area -->
            <div class="single-discount-area">
                <h5>오픈기념 무료 배송 &amp; 반품</h5>
                <h6><a th:href="@{/products}" href="#">BUY NOW</a></h6>
            </div>
            <!-- Single Discount Area -->
            <div class="single-discount-area">
                <h5>모든 상품 20% 할인 쿠폰</h5>
                <h6>쿠폰번호 : CMWPR23</h6>
            </div>
            <!-- Single Discount Area -->
            <div class="single-discount-area">
                <h5>선착순 100명 50% 할인 쿠폰</h5>
                <h6>쿠폰 번호 : CMW23PR</h6>
            </div>
        </section>
        <!-- ****** Top Discount Area End ****** -->

        <!-- ****** Checkout Area Start ****** -->
        <div class="checkout_area section_padding_100">
            <div class="container">
                <div class="row">

                    <div class="col-12 col-md-6">
                        <div class="checkout_details_area mt-50 clearfix">

                            <div class="cart-page-heading">
                                <h5>주문서 작성</h5>
                                <p>Order Details</p>
                            </div>

                            <form action="#" method="post">
                                <div class="row">

                                    <th:block id="check_email" th:if="${session.loginMember.email_ck == -1}">
                                    <div id="email1" class="col-md-6 mb-3">
                                        <label for="email"><span>*</span> 이메일 인증 <span>(최초 1회만 진행하시면 됩니다.)</span></label>
                                        <input type="text" class="form-control" id="email" th:value="${session.loginMember.email}" autocomplete="off" style="width: 300px" readonly>
                                    </div>
                                    <div id="email2" class="col-md-6 mb-3" style="margin-top: 25px; padding-left: 50px">
                                        <a href="#" class="btn karl-checkout-btn" id="email-verification-button">인증코드 받기</a>
                                    </div>
                                    <div id="email3" class="col-12 mb-3">
                                        <label for="email_code"><span>*</span> 인증 번호</label>
                                        <input type="text" class="form-control" id="email_code" value="" autocomplete="off">
                                    </div>
                                    </th:block>


                                    <div class="col-md-6 mb-3">
                                        <label for="last_name"><span>*</span> 성</label>
                                        <input type="text" class="form-control" id="last_name" value="" required>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="first_name"><span>*</span> 이름</label>
                                        <input type="text" class="form-control" id="first_name" value="" required>
                                    </div>


                                    <div class="col-12 mb-3">
                                        <label for="street_address"><span>*</span> 주소</label>
                                        <input type="text" oninput="send();" class="form-control mb-3" th:attr="value=${(memberInfo.address != null) ? memberInfo.address : ''}" id="street_address" value="">
                                        <input type="text" class="form-control" id="street_address2" th:attr="value=${(memberInfo.address_detail != null) ? memberInfo.address_detail : ''}" value="">
                                    </div>
                                    <div class="col-12 mb-3">
                                        <label for="postcode"><span>*</span> 우편 번호 (자동으로 작성됩니다.)</label>
                                        <input type="text" class="form-control" id="postcode" th:attr="value=${(memberInfo.post_code != null) ? memberInfo.post_code : ''}" value="" readonly>
                                    </div>

                                    <script>

                                        let add_ck = false;

                                        document.getElementById("street_address").addEventListener("click", function(){ //주소입력칸을 클릭하면
                                            //카카오 지도 발생
                                            new daum.Postcode({
                                                oncomplete: function(data) { //선택시 입력값 세팅
                                                    document.getElementById("postcode").value = data.zonecode;//우편번호
                                                    document.getElementById("street_address").value = data.address; // 주소 넣기
                                                    $('#street_address2').focus(); //상세입력 포커싱
                                                }
                                            }).open();
                                        });

                                        function send() {
                                            new daum.Postcode({
                                                oncomplete: function(data) { //선택시 입력값 세팅
                                                    document.getElementById("postcode").value = data.zonecode;//우편번호
                                                    document.getElementById("street_address").value = data.address; // 주소 넣기
                                                    $("#street_address2").focus(); //상세입력 포커싱
                                                }
                                            }).open();
                                        }



                                    </script>

                                    <div class="col-12 mb-3">
                                        <label for="phone_number"><span>*</span> 핸드폰 번호</label>
                                        <input type="text" class="form-control" id="phone_number" min="0" value="" onkeypress="inNumber();" placeholder="숫자만 입력해주세요.">
                                    </div>

                                    <script>
                                        function inNumber(){
                                            if(event.keyCode<48 || event.keyCode>57){
                                                event.returnValue=false;
                                            }
                                        }
                                    </script>

                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-5 ml-lg-auto">
                        <div class="order-details-confirmation">

                            <div class="cart-page-heading">
                                <h5>상품 확인</h5>
                                <p>The Details</p>
                            </div>

                            <ul class="order-details-form mb-4">
                                <li>
                                    <span>상품명</span>
                                    <span th:text="${checkOutInfo.title}">Cocktail Yellow dress 외 1개</span>
                                </li>
                                <li>
                                    <span>전체 가격</span>
                                    <span th:text="${#numbers.formatInteger(checkOutInfo.pd_price, 3, 'COMMA')}+'원'"></span>
                                </li>
                                <li th:if="${checkOutInfo.coupon_price != 0}">
                                    <span th:if="${checkOutInfo.coupon_price != 0}">쿠폰 할인</span>
                                    <span th:if="${checkOutInfo.coupon_price != 0}" th:text="'-'+${#numbers.formatInteger(checkOutInfo.coupon_price, 1, 'COMMA')}+'원'"></span>
                                </li>
                                <li>
                                    <span>배송료</span>
                                    <span th:if="${checkOutInfo.shipping_price != '0'}" th:text="'+'+ ${#numbers.formatInteger(checkOutInfo.shipping_price, 1, 'COMMA')}+'원'"></span>
                                    <span th:if="${checkOutInfo.shipping_price == 'Free' or checkOutInfo.shipping_price == '0'}">Free</span>
                                    <input type="hidden" id="shipping_code" th:value="${checkOutInfo.shipping_code}">
                                </li>

                                <li>
                                    <span>회원 등급 할인</span>
                                    <span th:if="${checkOutInfo.pd_price >= 1000}" th:text="${#numbers.formatInteger(checkOutInfo.grade_sale, 1, 'COMMA')}+'원'"></span>
                                    <span th:if="${checkOutInfo.pd_price <= 1000}" th:text="${checkOutInfo.grade_sale}+'원'"></span>
                                </li>

                                <li th:if="${checkOutInfo.total_price >= 1000}">
                                    <span>최종 결제 금액</span>
                                    <span id="finTotalPrice" th:text="${#numbers.formatInteger(checkOutInfo.total_price, 1, 'COMMA')}+'원'"></span>
                                </li>
                                <li th:if="${checkOutInfo.total_price <= 1000}">
                                    <span>최종 결제 금액</span>
                                    <span id="finTotalPrice2" th:text="${checkOutInfo.total_price}+'원'"></span>
                                </li>
                            </ul>


                            <a href="#" id="pay_input" class="btn karl-checkout-btn" onclick="requestPay()">Place Order</a>
                            <input id="checkMemberCart" type="hidden" th:attr="value=${(memberCart == null) ? 0 : ''}" value="" >
                            <input id="checkAddress" type="hidden" th:attr="value=${(memberInfo.address == null) ? 0 : ''}" value="" >

                            <form id="cart_pd_form">
                                <input type="hidden" id="order_mi" name="order_mi">
                                <input type="hidden" id="coupon_code" name="coupon_code" th:value="${checkOutInfo.cp_nm}">
                                <input type="hidden" id="pay_code" name="pay_code">
                                <input type="hidden" id="ttPrice" name="total_price" th:value="${checkOutInfo.total_price}">
                                <input type="hidden" id="ttAddress" name="address">
                            </form>

                            <form id="insertDetail">
                                <input type="hidden" id="address1" name="address">
                                <input type="hidden" id="address2" name="address_detail">
                                <input type="hidden" id="postNumb" name="post_code">
                            </form>

                            <input type="hidden" id="postCK" th:attr="value=${(memberInfo.post_code != null) ? memberInfo.post_code : ''}">

                            <script th:inline="javascript">

                                /*<![CDATA[*/

                                let name;
                                let tel;
                                let address1;
                                let address2;
                                let postcode;
                                let shipping_code;


                                /* IMPORT 결제 API */
                                const IMP = window.IMP; // 생략 가능
                                IMP.init('imp59352402'); // 예: imp00000000

                                function requestPay() {

                                    name = $('#last_name').val() + $('#first_name').val();
                                    tel = $('#phone_number').val();
                                    address1 = $('#street_address').val();
                                    address2 = $('#street_address2').val();
                                    postcode  = $('#postcode').val();
                                    shipping_code  = $('#shipping_code').val();



                                    if (name == '') {
                                        alert("이름을 입력해주세요.");
                                        return false;
                                    }

                                    if (tel == '') {
                                        alert("연락처를 입력해주세요.");
                                        return false;
                                    }

                                    if (postcode == '') {
                                        alert("주소를 입력해주세요.");
                                        return false;
                                    }



                                    let infoJson ={
                                        merchant_uid: 'merchant_' + new Date().getTime(),
                                        name : /*[[${checkOutInfo.title}]]*/,
                                        amount : /*[[${checkOutInfo.total_price}]]*/,
                                        buyer_email : /*[[${session.loginMember.email}]]*/,
                                        buyer_name: name,
                                        buyer_addr1: address1,
                                        buyer_addr2: address2,
                                        shipping_price:/*[[${checkOutInfo.shipping_price}]]*/,
                                        buyer_tel: tel,
                                        buyer_postcode: postcode
                                    }


                                    IMP.request_pay({
                                        pg: "kakao",
                                        pay_method: "card",
                                        merchant_uid: 'merchant_' + new Date().getTime(),
                                        name: infoJson.name,
                                        amount: infoJson.amount,
                                        buyer_email: infoJson.buyer_email,
                                        buyer_name: infoJson.buyer_name,
                                        buyer_tel: infoJson.buyer_tel,
                                        buyer_addr: infoJson.buyer_addr1 + infoJson.buyer_addr2,
                                        buyer_postcode: infoJson.buyer_postcode
                                    },function(rsp) {
                                        if(rsp.success) {
                                            //단순 결제 성공
                                            infoJson.impUid = rsp.imp_uid;
                                            infoJson.merchant_uid = rsp.merchant_uid;

                                            let payCode = rsp.imp_uid;
                                            let order_mi = rsp.merchant_uid;

                                            //formData 셋팅(결제)
                                            $('#order_mi').val(order_mi);
                                            $('#pay_code').val(payCode);
                                            $('#ttAddress').val(address1 + ' / ' + address2);

                                            //formData 셋팅(회원 주소)
                                            $('#address1').val(address1);
                                            $('#address2').val(address2);
                                            $('#postNumb').val(postcode);


                                            //검증 및 검증 성공시 로직 처리
                                            paymentComplete(infoJson, payCode, order_mi);

                                        } else {
                                            //단순 결제 실패
                                            alert("결제에 실패하였습니다. 잠시 후 다시 시도해주세요.");

                                        }

                                    });
                                }
                                /*]]>*/

                                function paymentComplete(infoJson, payCode, order_mi) {

                                    let checkingAddress = $('#checkAddress').val();

                                    let postCK = $('#postCK').val();

                                    //주소지 등록 여부 ajax
                                    if (postCK == '') {

                                        let response = confirm("기본 주소지로 등록하시겠습니까?");
                                        if (response) {

                                            let detailForm = $('#insertDetail').serialize();

                                            //OK버튼
                                            $.ajax({
                                                type : "POST",
                                                url : "/addressInsert",
                                                data : detailForm,
                                                success: function(data){
                                                    if(data == "Y"){
                                                        alert("정상적으로 등록되었습니다.");
                                                    }else{
                                                        alert("등록 실패");
                                                    }
                                                },
                                                error: function(data){
                                                    alert("등록 에러 발생!");
                                                    console.log(data);
                                                }
                                            });//response ajax
                                        }//response if

                                    }//주소지 등록여부 판단 if



                                    let checkingForward = $('#checkMemberCart').val();

                                    if (checkingForward == 0) {

                                        //값 추가
                                        infoJson.order_mi = $('#order_mi').val();
                                        infoJson.pay_code = $('#pay_code').val();
                                        infoJson.total_price = $('#ttPrice').val();
                                        infoJson.address = $('#address1').val();
                                        infoJson.address_detail = $('#address2').val();
                                        infoJson.shipping_code = $('#shipping_code').val();
                                        infoJson.coupon_code = $('#coupon_code').val();


                                    //검증 및 성공 로직처리 ajax
                                    $.ajax({
                                        url   : "/completeOrders",
                                        method: "POST",
                                        data  : infoJson,
                                    })
                                    .done(function (result) {

                                        //결제 성공 알림 메세지 및 메인페이지로 이동
                                        swal({
                                            text: result,
                                            closeOnClickOutside: false
                                        })
                                        .then(function (){
                                                location.replace("/");
                                            })
                                    })//done
                                    .fail(function (){
                                            alert("결제 금액 오류로 인해 결제가 취소 되었습니다.");
                                            // location.replace("/");
                                        })

                                }//if

                                }

                            </script>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- ****** Checkout Area End ****** -->

        <!-- ****** Footer Area Start ****** -->
        <footer class="footer_area">
            <div class="container">
                <div class="row">
                    <!-- Single Footer Area Start -->
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="single_footer_area">
                            <div class="footer-logo">
                                <img src="/img/core-img/logo.png" alt="">
                            </div>
                            <div class="copywrite_text d-flex align-items-center">
                                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> &amp; distributed by <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Footer Area Start -->
                    <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                        <div class="single_footer_area">
                            <ul class="footer_widget_menu">
                            </ul>
                        </div>
                    </div>
                    <!-- Single Footer Area Start -->
                    <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                        <div class="single_footer_area">
                            <ul class="footer_widget_menu">
                            </ul>
                        </div>
                    </div>
                    <!-- Single Footer Area Start -->
                    <div class="col-12 col-lg-5">
                        <div class="single_footer_area">
                            <div class="footer_heading mb-30">
                                <h6>Search</h6>
                            </div>
                            <div class="subscribtion_form">
                                <form action="/products/search" method="get">
                                    <input type="text" name="keyword" class="mail" placeholder="">
                                    <a name="search_bottom"><button id="sr_btn" type="submit" class="submit"><i class="fa fa-search" aria-hidden="true"></i></button></a>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Single Footer Area End -->

                </div>
            </div>
        </footer>
        <!-- ****** Footer Area End ****** -->
    </div>
    <!-- /.wrapper end -->

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="/js/plugins.js"></script>
    <!-- Active js -->
    <script src="/js/active.js"></script>

<script>


    let checkOK = true;
    let checkPoint = false;
    let check_code = "";
    // 이메일 인증 버튼 요소
    let emailVerificationButton = document.getElementById('email-verification-button');

    //이메일 체크
    $('#email_code').focusout(function(){

        let write_code = $('#email_code').val();

        if (check_code == write_code) {

            if (check_code == "") {
                alert("이메일 인증을 진행해주세요.");
                $("#email").focus(); //상세입력 포커싱
                return false;
            }

            $.ajax({
                type : "POST",
                url : "/emailCode",
                data : {member_idx:[[${session.loginMember.member_idx}]]},
                success: function (data) {

                    if (data == "N") {
                        alert("이메일 인증 중 오류가 발생하였습니다. 관리자에게 문의하세요.");
                    }else if (data == "Y") {
                        $('#check_email').css('display', 'none');
                        $('#email1').css('display', 'none');
                        $('#email2').css('display', 'none');
                        $('#email3').css('display', 'none');
                        alert("이메일 인증이 정상적으로 진행되었습니다.");

                        checkOK = false;
                        document.getElementById('email-verification-button').textContent = '인증 완료';
                        emailVerificationButton.removeEventListener('click', verifyEmail);
                        return false;
                    } else if (data == "diff id") {
                        alert("현재 계정 상태가 정상적이지 않습니다. 관리자에게 문의하세요.");
                    } else {
                        console.log(data);
                    }

                },
                error: function(data){
                    console.log(data);
                }
            });


        } else {
            alert("인증코드가 일치하지 않습니다.");
        }

    });

    // 이메일 인증 함수를 정의
    function verifyEmail() {

        // 이메일 입력 필드 요소
        let emailInput = document.getElementById('email');

        // 이메일 주소가 유효한지 확인합니다.
        if (!emailInput.checkValidity()) {
            alert('유효한 이메일 주소를 입력해주세요.');
            return;
        }


        alert('인증코드가 전송되었습니다.');

        // 인증 버튼 요소를 비활성화합니다.
        emailVerificationButton.removeEventListener('click', verifyEmail);
        // emailVerificationButton.classList.add('disabled');

        // 남은 시간(3분)을 나타내는 변수
        let remainingTime = 180;

        // 카운트다운 함수를 정의합니다.
        function countdown() {
            // remainingTime을 1초 감소
            remainingTime--;

            // 남은 시간을 분과 초로 분리
            let minutes = Math.floor(remainingTime / 60);
            let seconds = remainingTime % 60;

            // 인증 버튼의 텍스트를 업데이트
            emailVerificationButton.textContent = `${minutes}분 ${seconds}초`;

            // 남은 시간이 0이면 카운트다운을 중지
            if (remainingTime === 0) {
                checkPoint = false;
                check_code = "";
                clearInterval(intervalId);
                emailVerificationButton.textContent = '만료되었습니다';
                emailVerificationButton.classList.remove('disabled');
                emailVerificationButton.addEventListener('click', verifyEmail);
            }
        }

        // 카운트다운 함수를 1초마다 실행
        if (checkOK) {
            let intervalId = setInterval(countdown, 1000);
        }

        // 인증 버튼을 한 번 더 클릭하면 카운트다운을 취소
        emailVerificationButton.addEventListener('click', () => {
            checkPoint = false;
            check_code = "";
            clearInterval(intervalId);
            emailVerificationButton.textContent = '인증하기';
            emailVerificationButton.classList.remove('disabled');
            emailVerificationButton.addEventListener('click', verifyEmail);
        });



    }

    function serverEmail() {

        let emailInput = document.getElementById('email');

        let email = $('#email').val();

        let regExp = /^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/i;

        if (checkPoint) {
            verifyEmail();
            return false;
        }

        checkPoint = true;

        // 이메일 주소가 유효한지 확인
        if (!regExp.test(email)) {
            alert('유효한 이메일 주소를 입력해주세요.');
            return;
        }

        $.ajax({
            type : "POST",
            url : "/emailCheck",
            data : {email:email},
            success: function (data) {
                check_code = data.code;
                verifyEmail();
            },
            error: function(data){
                console.log(data);
            }
        });

    }



    // 인증 버튼에 이벤트 리스너를 추가
    emailVerificationButton.addEventListener('click', serverEmail);

</script>

</body>

</html>