<!DOCTYPE html>
<html lang="en">
<head>
	<title>Come With Me | Log-In</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="/img/core-img/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/login-resource/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/login-resource/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/login-resource/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/login-resource/vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/login-resource/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/login-resource/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/login-resource/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/login-resource/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/login-resource/css/util.css">
	<link rel="stylesheet" type="text/css" href="/login-resource/css/main.css">
<!--===============================================================================================-->

	<!-- 제이쿼리 -->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

</head>
<body>

	<div class="limiter">
		<div class="container-login100" style="background-color: #fe4447;">
			<div class="wrap-login100">
				<form id="form_ck" class="login100-form validate-form">
					<a href="/">
					<span class="login100-form-logo">
						<img src="img/core-img/logo.png" alt="">
					</span>
					</a>

					<span class="login100-form-title p-b-34 p-t-27">
						<br/>
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Enter email">
						<input class="input100" type="text" id="email" name="email" placeholder="E-mail" autocomplete="off" onkeydown="if(event.keyCode === 13) enterKey();"/>
						<span class="focus-input100" data-placeholder="&#xf207;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<input class="input100" type="password" id="pwd" name="pwd" placeholder="Password" autocomplete="off" onkeydown="if(event.keyCode === 13) enterKey();"/>
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div>

					<div class="container-login100-form-btn">
						<button type="button" id="login_btn" class="login100-form-btn">
							Login
						</button>
						<a href="/signup">
						<button class="login100-form-btn" type="button">
							sign up
						</button>
						</a>
					</div>

					<div class="text-center p-t-90">
						<a class="txt1" href="#">
							Forgot Password?
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>


	<div id="dropDownSelect1"></div>

	<script>


		function enterKey() {

			let email = $('#email').val();
			let pwd = $('#pwd').val();

			if (!email) {
				alert("이메일을 입력해주세요.");
				return false;
			}

			let emailRegExp = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
			if (!emailRegExp.test(email)) {
				alert("이메일을 입력해주세요.");
				return false;
			}

			if (!pwd) {
				alert("비밀번호를 입력해주세요.");
				return false;
			}


			login_check();

		}


		/* 로그인 버튼 클릭 시 */
		$('#login_btn').click(function() {


			let email = $('#email').val();
			let pwd = $('#pwd').val();

			if (!email) {
				alert("이메일을 입력해주세요.");
				return false;
			}

			let emailRegExp = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
			if (!emailRegExp.test(email)) {
				alert("이메일을 입력해주세요.");
				return false;
			}

			if (!pwd) {
				alert("비밀번호를 입력해주세요.");
				return false;
			}



			login_check();

		});


		/* 서버로 로그인 정보 체크 */
		function login_check() {

			let formData = $('#form_ck').serialize();

			$.ajax({
				type : "POST",
				url : "/loginCheck",
				data : formData,
				success: function (data) {
					if(data == "no_email"){
						alert("존재하지 않는 이메일 입니다.");
					}else if(data == "no_pwd"){
						alert("비밀번호가 틀렸습니다.");
					}else if(data == "Y"){
						location.href="/loginSession?email="+$('#email').val();
					}else if(data == "del_account"){
						let checkDel = confirm("탈퇴하신 계정입니다. 복구를 진행하시겠습니까?");
						if (checkDel) {
							restoreDelAccount();
						}
					}else if (data == "rest_account") {
						let checkRest = confirm("장기 미접속으로 계정이 비활성화되었습니다. 계정을 활성화 하시겠습니까?");
						if (checkRest) {
							goRestPage();
						}
					}
				},
				error: function(data){
					alert("로그인 오류");
					console.log(data);
				}
			});

		}


		//탈퇴 계정 복구 처리
		function restoreDelAccount() {

			let formData = $('#form_ck').serialize();

			$.ajax({
				type : "POST",
				url : "/delRestore",
				data : formData,
				success: function (data) {
					if(data == "no_email"){
						alert("존재하지 않는 이메일 입니다.");
					}else if(data == "no_pwd"){
						alert("비밀번호가 틀렸습니다.");
					}else if(data == "Y"){
						alert("계정 복구가 완료되었습니다.");
						location.href = "/login";
					}
				},
				error: function(data){
					alert("복원 오류");
					console.log(data);
				}
			});

		}


		//휴면 계정 해제 처리
		function goRestPage() {

			let formData = $('#form_ck').serialize();

			$.ajax({
				type : "POST",
				url : "/restPage",
				data : formData,
				success: function (data) {
					if(data == "no_email"){
						alert("존재하지 않는 이메일 입니다.");
					}else if(data == "no_pwd"){
						alert("비밀번호가 틀렸습니다.");
					}else if(data == "Y"){
						location.href="/restPage";
					}
				},
				error: function(data){
					alert("로그인 오류");
					console.log(data);
				}
			});

		}


	</script>


<!--===============================================================================================-->
	<script src="login-resource/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="login-resource/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="login-resource/vendor/bootstrap/js/popper.js"></script>
	<script src="login-resource/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="login-resource/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="login-resource/vendor/daterangepicker/moment.min.js"></script>
	<script src="login-resource/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="login-resource/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="login-resource/js/main.js"></script>

</body>
</html>
