<!--
=========================================================
* Paper Dashboard 2 - v2.0.1
=========================================================

* Product Page: https://www.creative-tim.com/product/paper-dashboard-2
* Copyright 2020 Creative Tim (https://www.creative-tim.com)

Coded by www.creative-tim.com

 =========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="/img/core-img/favicon.ico">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Come With Me | My Page
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/assets/css/paper-dashboard.css?v=2.0.1" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="/assets/demo/demo.css" rel="stylesheet" />
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-latest.js"></script>
  <!-- 카카오 주소 API -->
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

  <style>
    #info {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

  </style>

</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="white" data-active-color="danger">
      <div class="logo">
        <a href="/myPage/memberInfo" class="simple-text logo-mini">
          <div class="logo-image-small">
            <img src="/assets/img/logo-small.png">
          </div>
          <!-- <p>CT</p> -->
        </a>
        <a href="/myPage/memberInfo" class="simple-text logo-normal" th:text="${session.loginMember.email.substring(0, session.loginMember.email.indexOf('@'))}">
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li>
            <a href="/myPage">
              <i class="nc-icon nc-bank"></i>
              <p>마이 페이지</p>
            </a>
          </li>
          <li>
            <a href="/myPage/orders">
              <i class="nc-icon nc-bell-55"></i>
              <p>주문 목록</p>
            </a>
          </li>
          <li>
            <a href="/myPage/pays">
              <i class="nc-icon nc-diamond"></i>
              <p>결제 내역</p>
            </a>
          </li>
          <li class="active ">
            <a href="/myPage/memberInfo">
              <i class="nc-icon nc-single-02"></i>
              <p>개인정보 수정</p>
            </a>
          </li>
          <li class="active-pro">
            <a href="/delMember">
              <i class="nc-icon nc-spaceship"></i>
              <p>회원 탈퇴</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <div class="top_single_area d-flex align-items-center" style="display: flex; justify-content: center; position: absolute; align-items: center; top: 0; left: 0; right: 0; padding-top: 10px;">
              <!-- Logo Area 로고 이미지 -->
              <div class="top_logo">
                <a href="/"><img src="/img/core-img/logo.png" alt=""></a>
              </div>
            </div>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <ul class="navbar-nav">
              <li class="nav-item btn-rotate dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="nc-icon nc-bell-55"></i>
                  <p>
                    <span class="d-lg-none d-md-block">Some Actions</span>
                  </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Main</a>
                  <a class="dropdown-item" href="#">Log-Out</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="row">
          <div class="col-md-8">
            <div class="card card-user">
              <div class="card-header">
                <h5 class="card-title">개인정보 수정</h5>
              </div>
              <div class="card-body">

                  <div class="row">
                    <div class="col-md-5 pr-1">
                      <div class="form-group">
                        <label>Email (변경불가)</label>
                        <input type="text" class="form-control" disabled="" placeholder="Email" th:value="${session.loginMember.email}" value="">
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-4 pr-1">
                      <div class="form-group">
                        <label>회원 등급</label>
                        <input type="text" class="form-control" id="gradeName" disabled="">
                      </div>
                    </div>
                    <div class="col-md-4 px-1">
                      <div class="form-group">
                        <label>회원 포인트</label>
                        <input type="text" class="form-control" th:value="${session.loginMember.member_point}" value="0" disabled="">
                      </div>
                    </div>
                  </div>

                  <script type="text/javascript" defer>
                    function setNextGrade() {
                      var gradeCode = [[${session.loginMember.grade_code}]];
                      switch (gradeCode) {
                        case 0:
                          $('#gradeName').val('NORMAL');
                          break;
                        case 1:
                          $('#gradeName').val('SILVER');
                          break;
                        case 2:
                          $('#gradeName').val('GOLD');
                          break;
                        case 3:
                          $('#gradeName').val('VIP');
                          break;
                        default:
                          $('#gradeName').val('UNKNOWN');
                          break;
                      }
                    }
                  </script>

                  <!--                  <div class="row">
                                      <div class="col-md-6 pr-1">
                                        <div class="form-group">
                                          <label>First Name</label>
                                          <input type="text" class="form-control" placeholder="Company" value="Chet">
                                        </div>
                                      </div>
                                      <div class="col-md-6 pl-1">
                                        <div class="form-group">
                                          <label>Last Name</label>
                                          <input type="text" class="form-control" placeholder="Last Name" value="Faker">
                                        </div>
                                      </div>
                                    </div>-->
                  <hr>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label id="info">변경이 필요한 문항만 입력해주세요.</label>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>PassWord</label>
                        <input type="password" id="pwd" class="form-control" placeholder="변경하실 비밀번호를 입력해주세요.">
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Check PassWord</label>
                        <input type="password" id="pwd_check" class="form-control" placeholder="비밀번호 확인">
                      </div>
                    </div>
                  </div>

                <form id="memberInfoForm">
                <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Address</label>
                        <input type="text" id="street_address" name="address" th:value="${members_detail.address}" class="form-control" placeholder="주소 찾기">
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-5 pr-1">
                      <div class="form-group">
<!--                        <label>Address</label>-->
                        <input type="text" id="street_address2" name="address_detail" th:value="${members_detail.address_detail}" class="form-control" placeholder="상세 주소">
                      </div>
                    </div>
                    <div class="col-md-4 pl-1">
                      <div class="form-group">
                        <input type="text" id="postcode" name="post_code" th:attr="value=${(members_detail.post_code == null) ? '' : members_detail.post_code}" class="form-control" placeholder="우편 번호" readonly>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="update ml-auto mr-auto">
                      <button id="update_btn" type="button" class="btn btn-primary btn-round">Update Profile</button>
                    </div>
                  </div>
                </form>

                <script>

                  let add_ck = true;

                  document.getElementById("street_address").addEventListener("click", function(){ //주소입력칸을 클릭하면
                    //카카오 지도 발생
                    new daum.Postcode({
                      oncomplete: function(data) { //선택시 입력값 세팅
                        document.getElementById("postcode").value = data.zonecode;//우편번호
                        document.getElementById("street_address").value = data.address; // 주소 넣기
                        document.getElementById("street_address2").value = '';
                        $('#street_address2').focus(); //상세입력 포커싱
                      }
                    }).open();
                  });

                  function send() {
                    new daum.Postcode({
                      oncomplete: function(data) { //선택시 입력값 세팅
                        document.getElementById("postcode").value = data.zonecode;//우편번호
                        document.getElementById("street_address").value = data.address; // 주소 넣기
                        document.getElementById("street_address2").value = '';
                        $("#street_address2").focus(); //상세입력 포커싱
                      }
                    }).open();
                  }

                  /* 비밀번호 체크 */
                  $('#pwd_check').focusout(function (){
                    let pwd = $('#pwd').val();
                    let pwd_check = $('#pwd_check').val();

                    if (pwd == pwd_check) {
                      add_ck = true;
                    }else {
                      add_ck = false;
                      alert("비밀번호를 확인해주세요.");
                    }

                  });


                  $('#update_btn').on('click', function () {

                    let pwd = $('#pwd').val();
                    let pwd2 = $('#pwd_check').val();

                    if (!add_ck) {
                      alert("비밀번호를 확인해주세요.");
                      return false;
                    }

                    //주소 정보
                    let formDate = $('#memberInfoForm').serialize();

                    if (pwd != '' && pwd2 != '' && add_ck) {
                      formDate += '&pwd=' + pwd;
                    }

                    alert(formDate);

                    //검증 및 성공 로직처리 ajax
                    $.ajax({
                      url   : "/myPage/memberInfo",
                      method: "POST",
                      data  : formDate,
                    })
                      .done(function (result) {

                          //결제 성공 알림 메세지 및 메인페이지로 이동
                          swal({
                            text: result,
                            closeOnClickOutside: false
                          })
                        .then(function (){
                          window.location.href = "/myPage/memberInfo";
                        })
                      })//done
                      .fail(function (){
                        alert("정보 수정 중 오류가 발생하였습니다. 잠시 후 재시도 해주세요.");
                        // location.replace("/");
                      })


                  });//클릭 처리

                </script>

              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer footer-black  footer-white ">
        <div class="container-fluid">
          <div class="row">
            <nav class="footer-nav">
              <ul>
                <li><a href="/" target="_blank">Main</a></li>
                <li><a href="/" target="_blank">Product</a></li>
              </ul>
            </nav>
            <div class="credits ml-auto">
              <span class="copyright">
                © <script>
                  document.write(new Date().getFullYear())
                </script>, made with <i class="fa fa-heart heart"></i> by Creative Tim
              </span>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="/assets/js/core/jquery.min.js"></script>
  <script src="/assets/js/core/popper.min.js"></script>
  <script src="/assets/js/core/bootstrap.min.js"></script>
  <script src="/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chart JS -->
  <script src="/assets/js/plugins/chartjs.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="/assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="/assets/js/paper-dashboard.min.js?v=2.0.1" type="text/javascript"></script><!-- Paper Dashboard DEMO methods, don't include it in your project! -->
  <script src="/assets/demo/demo.js"></script>
  <script type="text/javascript">
    setNextGrade();
  </script>
</body>

</html>