<!--
=========================================================
* Paper Dashboard 2 - v2.0.1
=========================================================

* Product Page: https://www.creative-tim.com/product/paper-dashboard-2
* Copyright 2020 Creative Tim (https://www.creative-tim.com)

Coded by www.creative-tim.com

 =========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="/img/core-img/favicon.ico">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Come With Me | My Page
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/assets/css/paper-dashboard.css?v=2.0.1" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="/assets/demo/demo.css" rel="stylesheet" />
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-latest.js"></script>

</head>

<body class="">
<div class="wrapper ">
  <div class="sidebar" data-color="white" data-active-color="danger">
    <div class="logo">
      <a href="/myPage/memberInfo" class="simple-text logo-mini">
        <div class="logo-image-small">
          <img src="/assets/img/logo-small.png">
        </div>
        <!-- <p>CT</p> -->
      </a>
      <a href="/myPage/memberInfo" class="simple-text logo-normal" th:text="${session.loginMember.email.substring(0, session.loginMember.email.indexOf('@'))}">
      </a>
    </div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li>
          <a href="/myPage">
            <i class="nc-icon nc-bank"></i>
            <p>마이 페이지</p>
          </a>
        </li>
        <li class="active ">
          <a href="/myPage/orders">
            <i class="nc-icon nc-bell-55"></i>
            <p>주문 목록</p>
          </a>
        </li>
        <li>
          <a href="/myPage/pays">
            <i class="nc-icon nc-diamond"></i>
            <p>결제 내역</p>
          </a>
        </li>
        <li>
          <a href="/myPage/memberInfo">
            <i class="nc-icon nc-single-02"></i>
            <p>개인정보 수정</p>
          </a>
        </li>
        <li class="active-pro">
          <a href="/delMember">
            <i class="nc-icon nc-spaceship"></i>
            <p>회원 탈퇴</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="main-panel">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
      <div class="container-fluid">
        <div class="navbar-wrapper">
          <div class="navbar-toggle">
            <button type="button" class="navbar-toggler">
              <span class="navbar-toggler-bar bar1"></span>
              <span class="navbar-toggler-bar bar2"></span>
              <span class="navbar-toggler-bar bar3"></span>
            </button>
          </div>
          <div class="top_single_area d-flex align-items-center" style="display: flex; justify-content: center; position: absolute; align-items: center; top: 0; left: 0; right: 0; padding-top: 10px;">
            <!-- Logo Area 로고 이미지 -->
            <div class="top_logo">
              <a href="/"><img src="/img/core-img/logo.png" alt=""></a>
            </div>
          </div>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar navbar-kebab"></span>
          <span class="navbar-toggler-bar navbar-kebab"></span>
          <span class="navbar-toggler-bar navbar-kebab"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
          <ul class="navbar-nav">
            <li class="nav-item btn-rotate dropdown">
              <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="nc-icon nc-bell-55"></i>
                <p>
                  <span class="d-lg-none d-md-block">Some Actions</span>
                </p>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Main</a>
                <a class="dropdown-item" href="#">Log-Out</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
      <!-- End Navbar -->
      <div class="content">
        <!-- 상품 2개 미만일땐 padding 0 30 300, 없을땐 0 30 400-->
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <div class="card card-upgrade">
              <div class="card-header text-center">
                <h4 class="card-title">주문 목록</h4>
                  <p class="card-category">Order List</p>
              </div>
              <div class="card-body">
                <div class="table-responsive table-upgrade">
                  <table class="table">
                    <thead>
                      <th class="text-center">구매 상품</th>
                      <th class="text-center">상품 이름</th>
                      <th class="text-center">주문 번호</th>
                      <th class="text-center">상품 가격</th>
                      <th class="text-center">구매 수량</th>
                    </thead>
                    <tbody th:each="order : ${myOrderList}">
                    <tr>
                      <td class="text-center"><img th:src="|/${order.sv_locCt}|"></td>
                      <td class="text-center" th:text="${order.pd_nm}"></td>
                      <td class="text-center" th:text="${order.order_mi}"></td>
                      <td class="text-center" th:text="${order.sell_price}"></td>
                      <td class="text-center" th:text="${order.order_cart_cnt}"></td>
                    </tr>
                    </tbody>
                    <tbody id="order_tbody" th:each="order : ${myOrderList}">
                    </tbody>

                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


<!--    <script>
      $(window).scroll(function() {
        if ($(window).scrollTop() + $(window).height() >= $(document).height() - 100) {
          // 서버에 추가 데이터 요청하기
          var limit = 4; // 한 번에 가져올 데이터 수
          var offset = $("tbody tr").length; // 현재 노출된 데이터 수
          $.ajax({
            type: "GET",
            url: "/myPage/orders",
            data: {limit: limit, offset: offset},
            success: function(data) {
              // 데이터 추가하기
              $("tbody").append(data);
            }
          });
        }
      });
    </script>-->

    <script>
      $(document).ready(function() {
        let offset = 2; // 초기 페이지

        $(window).scroll(function() {

          if ($(window).scrollTop() + $(window).height() >= $(document).height() - 100) {
            $.ajax({
              url: "/myPage/orders/data?offset=" + offset,
              type: "GET",
              success: function(data) {
                $.each(data, function(index, order) {
                  var tr = $("<tr>");
                  tr.append($("<td>").addClass("text-center").append($("<img>").attr("src", "/" + order.sv_locCt)));
                  tr.append($("<td>").addClass("text-center").text(order.pd_nm));
                  tr.append($("<td>").addClass("text-center").text(order.order_mi));
                  var sellPrice = order.sell_price >= 1000 ? order.sell_price.toLocaleString() : order.sell_price;
                  tr.append($("<td>").addClass("text-center").text(sellPrice));
                  tr.append($("<td>").addClass("text-center").text(order.order_cart_cnt));
                  tr.append($("</tr>"));
                  $("#order_tbody").append(tr);
                });
                offset++; // 다음 페이지로 이동
              },
              error: function(jqXHR, textStatus, errorThrown) {
                console.log(textStatus, errorThrown);
              }
            });
          }
        });
      });

    </script>

    <footer class="footer footer-black  footer-white ">
      <div class="container-fluid">
        <div class="row">
          <nav class="footer-nav">
            <ul>
              <li><a href="/">Main</a></li>
              <li><a href="/products">Product</a></li>
            </ul>
          </nav>
          <div class="credits ml-auto">
              <span class="copyright">
                © <script>
                  document.write(new Date().getFullYear())
                </script>, made with <i class="fa fa-heart heart"></i> by Creative Tim
              </span>
          </div>
        </div>
      </div>
    </footer>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="/assets/js/core/jquery.min.js"></script>
  <script src="/assets/js/core/popper.min.js"></script>
  <script src="/assets/js/core/bootstrap.min.js"></script>
  <script src="/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chart JS -->
  <script src="/assets/js/plugins/chartjs.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="/assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="/assets/js/paper-dashboard.min.js?v=2.0.1" type="text/javascript"></script><!-- Paper Dashboard DEMO methods, don't include it in your project! -->
  <script src="/assets/demo/demo.js"></script>
</body>

</html>