<!--
=========================================================
* Paper Dashboard 2 - v2.0.1
=========================================================

* Product Page: https://www.creative-tim.com/product/paper-dashboard-2
* Copyright 2020 Creative Tim (https://www.creative-tim.com)

Coded by www.creative-tim.com

 =========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="/img/core-img/favicon.ico">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Come With Me | My Page
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/assets/css/paper-dashboard.css?v=2.0.1" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="/assets/demo/demo.css" rel="stylesheet" />
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-latest.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>


</head>

<body class="">
<div class="wrapper ">
  <div class="sidebar" data-color="white" data-active-color="danger">
    <div class="logo">
      <a href="/myPage/memberInfo" class="simple-text logo-mini">
        <div class="logo-image-small">
          <img src="/assets/img/logo-small.png">
        </div>
        <!-- <p>CT</p> -->
      </a>
      <a href="/myPage/memberInfo" class="simple-text logo-normal" th:text="${session.loginMember.email.substring(0, session.loginMember.email.indexOf('@'))}">
      </a>
    </div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li>
          <a href="/myPage">
            <i class="nc-icon nc-bank"></i>
            <p>마이 페이지</p>
          </a>
        </li>
        <li>
          <a href="/myPage/orders">
            <i class="nc-icon nc-bell-55"></i>
            <p>주문 목록</p>
          </a>
        </li>
        <li class="active ">
          <a href="/myPage/pays">
            <i class="nc-icon nc-diamond"></i>
            <p>결제 내역</p>
          </a>
        </li>
        <li>
          <a href="/myPage/myReviews">
            <i class="nc-icon nc-tile-56"></i>
            <p>My Review</p>
          </a>
        </li>
        <li>
          <a href="/myPage/myQna">
            <i class="nc-icon nc-email-85"></i>
            <p>My QnA</p>
          </a>
        </li>
        <li>
          <a href="/myPage/memberInfo">
            <i class="nc-icon nc-single-02"></i>
            <p>개인정보 수정</p>
          </a>
        </li>
        <li class="active-pro">
          <a href="/delMember">
            <i class="nc-icon nc-spaceship"></i>
            <p>회원 탈퇴</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="main-panel">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
      <div class="container-fluid">
        <div class="navbar-wrapper">
          <div class="navbar-toggle">
            <button type="button" class="navbar-toggler">
              <span class="navbar-toggler-bar bar1"></span>
              <span class="navbar-toggler-bar bar2"></span>
              <span class="navbar-toggler-bar bar3"></span>
            </button>
          </div>
          <div class="top_single_area d-flex align-items-center" style="display: flex; justify-content: center; position: absolute; align-items: center; top: 0; left: 0; right: 0; padding-top: 10px;">
            <!-- Logo Area 로고 이미지 -->
            <div class="top_logo">
              <a href="/"><img src="/img/core-img/logo.png" alt=""></a>
            </div>
          </div>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar navbar-kebab"></span>
          <span class="navbar-toggler-bar navbar-kebab"></span>
          <span class="navbar-toggler-bar navbar-kebab"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
          <ul class="navbar-nav">
            <li class="nav-item btn-rotate dropdown">
              <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="nc-icon nc-bell-55"></i>
                <p>
                  <span class="d-lg-none d-md-block">Some Actions</span>
                </p>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/">Main</a>
                <a class="dropdown-item" href="/logout">Log-Out</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
      <!-- End Navbar -->
      <div id="myContent" class="content" style="padding: 0 30px 400px;">
        <!-- 상품 2개 미만일땐 padding 0 30 300, 없을땐 0 30 400-->
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <div class="card card-upgrade">
              <div class="card-header text-center">
                <h4 class="card-title">결제 내역</h4>
                  <p class="card-category" th:text="${myPayList.get(0).order_mi}"></p>
              </div>
              <div class="card-body">
                <div class="table-responsive table-upgrade">
                  <table class="table">
                    <thead>
                      <th class="text-center">구매 상품</th>
                      <th class="text-center">상품 이름</th>
                      <th class="text-center">구매 수량</th>
                    </thead>
                    <tbody th:each="pay, stat:${myPayList}">
                    <tr>
                      <td class="text-center"><img th:src="|/${pay.sv_locCt}|"></td>
                      <td class="text-center" th:text="${pay.pd_nm}"></td>
                      <td class="text-center" th:text="${pay.order_cart_cnt}"></td>
                    </tr>
                    <tr th:if="${stat.last}">
                      <th class="text-center">배송료</th>
                      <td></td>
                      <td class="text-center" th:text="'&#8361;'+(${pay.shipping_code == 0}) ? 'Free' : (${pay.shipping_code == 1} ? '3,000' : '5,000')"></td>

                    </tr>
                    <tr th:if="${stat.last}">
                      <th class="text-center">총 결제 금액</th>
                      <td></td>
                      <td class="text-center" th:text="'&#8361;'+${#numbers.formatInteger(pay.total_price, 3, 'COMMA')}"></td>
                    </tr>
                    <tr th:if="${stat.last}">
                      <th class="text-center">결제 날짜</th>
                      <td></td>
                      <td class="text-center" th:text="${pay.pay_date}"></td>
                    </tr>
                    <tr th:if="${stat.last}">
                      <th class="text-center">결제 상태</th>
                      <td></td>
                      <td class="text-center" th:text="(${pay.pay_status == -1}) ? '결제 완료' : (${pay.pay_status == 0} ? '환불 요청 중' : '결제 취소')"></td>
                    </tr>
                    <tr th:if="${stat.last and pay.pay_status == -1}">
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center" style="display: flex; justify-content: center; position: absolute; align-items: center; top: 0; left: 0; right: 0; padding-top: 10px;">
                        <a href="#" th:onclick="cancelFn([[${pay.pay_idx}]])" class="btn btn-round btn-primary">환불 요청</a>
                      </td>
                    </tr>

                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    <script>

      function cancelFn(pay_idx) {

        $.ajax({
          url:"/cancelRequestPay",
          type: "POST",
          data: {pay_idx:pay_idx},
          success: function (data) {
            if (data == "Y") {
              alert("신청 되었습니다.");
              location.replace("/myPage/pays");
            } else {
              alert("처리 중 오류가 발생하였습니다, 잠시 후 재시도 해주세요.")
            }
          },
        })

      };

      function throttle(func, delay) {
        let prev = 0;
        return function(...args) {
          const now = new Date().getTime();
          if (now - prev > delay) {
            prev = now;
            func.apply(this, args);
          }
        };
      }

      $(document).ready(function() {
        let level = 1; // 초기 페이지

        $(window).scroll(throttle(function() {


          if ($(window).scrollTop() + $(window).height() >= $(document).height() - 110) {


            $.ajax({
              url: "/myPage/pays/data?level=" + level,
              type: "GET",
              success: function(data) {

                  if (data === null) {
                    $(window).off('scroll');
                    return;
                  }

                  let newRow = $('<div class="row"></div>');
                  let newCol = $('<div class="col-md-8 ml-auto mr-auto"></div>');
                  let newCard = $('<div class="card card-upgrade"></div>');
                  let newCardHeader = $('<div class="card-header text-center"></div>');
                  let newCardHeaderTitle = $('<h4 class="card-title">결제 내역</h4>');
                  let newCardHeaderCategory = $('<p class="card-category"></p>');
                  let newCardBody = $('<div class="card-body"></div>');
                  let newTableResponsive = $('<div class="table-responsive table-upgrade"></div>');
                  let newTable = $('<table class="table"></table>');
                  let newTableHead = $('<thead></thead>');
                  let newTableHeadRow = $('<tr></tr>');
                  let newTableHeadCell1 = $('<th class="text-center">구매 상품</th>');
                  let newTableHeadCell2 = $('<th class="text-center">상품 이름</th>');
                  let newTableHeadCell3 = $('<th class="text-center">구매 수량</th>');
                  let newTableBody = $('<tbody></tbody>');

                  newCardHeaderCategory.text(data[0].order_mi);
                  newTableHeadRow.append(newTableHeadCell1);
                  newTableHeadRow.append(newTableHeadCell2);
                  newTableHeadRow.append(newTableHeadCell3);

                  $.each(data, function(i, order) {


                    let newTableRow = $('<tr></tr>');
                    let newTableCell1 = $('<td class="text-center"></td>');
                    let newTableCell2 = $('<td class="text-center"></td>');
                    let newTableCell3 = $('<td class="text-center"></td>');

                    let newImg = $('<img>');
                    newImg.attr('src', '/' + order.sv_locCt);

                    newTableCell1.append(newImg);
                    newTableCell2.text(order.pd_nm);
                    newTableCell3.text(order.order_cart_cnt);

                    newTableRow.append(newTableCell1);
                    newTableRow.append(newTableCell2);
                    newTableRow.append(newTableCell3);

                    newTableBody.append(newTableRow);
                  });

                  let pay_idx = data[0].pay_idx;
                  let pay_status = data[0].pay_status;

                  let newTableFootRow1 = $('<tr></tr>');
                  let newTableFootRow2 = $('<tr></tr>');
                  let newTableFootRow3 = $('<tr></tr>');
                  let newTableFootRow4 = $('<tr></tr>');
                  let newTableFootRow5 = $('<tr></tr>');
                  let newTableFootCell1 = $('<th class="text-center">배송료</th>');
                  let newTableFootCell2 = $('<td></td>');
                  let newTableFootCell3 = $('<td class="text-center"></td>');
                  let newTableFootCell4 = $('<th class="text-center">총 결제 금액</th>');
                  let newTableFootCell5 = $('<td></td>');
                  let newTableFootCell6 = $('<td class="text-center"></td>');
                  let newTableFootCell7 = $('<th class="text-center">결제 날짜</th>');
                  let newTableFootCell8 = $('<td></td>');
                  let newTableFootCell9 = $('<td class="text-center"></td>');
                  let newTableFootCell10 = $('<th class="text-center">결제 상태</th>');
                  let newTableFootCell11 = $('<td></td>');
                  let newTableFootCell12 = $('<td class="text-center"></td>');

                if (pay_status == -1) {
                  let newTableFootCell13 = $('<td class="text-center"></td>');
                  let newTableFootCell14 = $('<td class="text-center"></td>');
                  let newTableFootCell15 = $('<td class="text-center" style="display: flex; justify-content: center; position: absolute; align-items: center; top: 0; left: 0; right: 0; padding-top: 10px;"></td>');
                  let newATagCell16 = $('<a href="#" onclick="cancelFn(' + pay_idx + ')" class="btn btn-round btn-primary">환불 요청</a>');
                  newTableFootCell15.append(newATagCell16);
                  newTableFootRow5.append(newTableFootCell13);
                  newTableFootRow5.append(newTableFootCell14);
                  newTableFootRow5.append(newTableFootCell15);
                }



                  if (data[0].shipping_code == 0) {
                    newTableFootCell3.text("Free");
                  } else {
                    let shippingPriceText = data[0].shipping_code == 1 ? "3,000" : "5,000";
                    newTableFootCell3.text(shippingPriceText);
                  }
                  newTableFootCell6.text('₩' + data[0].total_price.toLocaleString());
                  newTableFootCell9.text(moment(data[0].pay_date).format('ddd MMM DD HH:mm:ss zzz YYYY'));
                  //th:text="(${pay.pay_status == -1}) ? '결제 완료' : (${pay.shipping_code == 0} ? '반품 요청 중' : '결제 취소')"

                  if (data[0].pay_status == -1) {
                    newTableFootCell12.text("결제 완료");
                  } else {
                    let payStatusText = data[0].pay_status == 0 ? "환불 요청 중" : "결제 취소";
                    newTableFootCell12.text(payStatusText);
                  }


                  newTableFootRow1.append(newTableFootCell1);
                  newTableFootRow1.append(newTableFootCell2);
                  newTableFootRow1.append(newTableFootCell3);
                  newTableFootRow2.append(newTableFootCell4);
                  newTableFootRow2.append(newTableFootCell5);
                  newTableFootRow2.append(newTableFootCell6);
                  newTableFootRow3.append(newTableFootCell7);
                  newTableFootRow3.append(newTableFootCell8);
                  newTableFootRow3.append(newTableFootCell9);
                  newTableFootRow4.append(newTableFootCell10);
                  newTableFootRow4.append(newTableFootCell11);
                  newTableFootRow4.append(newTableFootCell12);


                  newTable.append(newTableHead);
                  newTableHead.append(newTableHeadRow);
                  newTable.append(newTableBody);
                  newTable.append(newTableFootRow1);
                  newTable.append(newTableFootRow2);
                  newTable.append(newTableFootRow3);
                  newTable.append(newTableFootRow4);
                  newTable.append(newTableFootRow5);

                  newTableResponsive.append(newTable);

                  newCardBody.append(newTableResponsive);

                  newCardHeader.append(newCardHeaderTitle);
                  newCardHeader.append(newCardHeaderCategory);

                  newCard.append(newCardHeader);
                  newCard.append(newCardBody);

                  newCol.append(newCard);

                  newRow.append(newCol);

                  $('#myContent').append(newRow);


                level++; // 다음 페이지로 이동
              },
              error: function(jqXHR, textStatus, errorThrown) {
                console.log(textStatus, errorThrown);
              }
            });
          }
        }, 50));
      });

    </script>

    <footer class="footer footer-black  footer-white ">
      <div class="container-fluid">
        <div class="row">
          <nav class="footer-nav">
            <ul>
              <li><a href="/">Main</a></li>
              <li><a href="/products">Product</a></li>
            </ul>
          </nav>
          <div class="credits ml-auto">
              <span class="copyright">
                © <script>
                  document.write(new Date().getFullYear())
                </script>, made with <i class="fa fa-heart heart"></i> by Creative Tim
              </span>
          </div>
        </div>
      </div>
    </footer>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="/assets/js/core/jquery.min.js"></script>
  <script src="/assets/js/core/popper.min.js"></script>
  <script src="/assets/js/core/bootstrap.min.js"></script>
  <script src="/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chart JS -->
  <script src="/assets/js/plugins/chartjs.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="/assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="/assets/js/paper-dashboard.min.js?v=2.0.1" type="text/javascript"></script><!-- Paper Dashboard DEMO methods, don't include it in your project! -->
  <script src="/assets/demo/demo.js"></script>
</body>

</html>