<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Come With Me | 상품 </title>

    <!-- Favicon  -->
    <link rel="icon" th:href="@{/img/core-img/favicon.ico}" href="/img/core-img/favicon.ico">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="/css/core-style.css">
    <link rel="stylesheet" href="/style.css">

    <!-- Responsive CSS -->
    <link href="/css/responsive.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>

    <link href="/product/tabmenu.css" rel="stylesheet">
    <script src="/product/tabmenu.js" charset="utf-8"></script>


    <style>
        .widget{
            border-bottom: none;
            padding-bottom: 0;
        }
        .red-text{
            background-color: #ff084e;
            color: #fff;
        }

        .widget-desc a:focus {
            border: 0px solid black;
            background-color: white;
        }
        .widget-desc a:hover {
            border: 0px solid black;
            background-color: white;
        }
        .widget-desc a:focus {
            background-color: white;
            color: #fff;
        }
        .qna{
            margin: 50px auto;
            width:50%;
        }
        .qna_board td{
            border-bottom: 1px solid #d1d1d1;
            padding: 10px;
            color:#4a4a4a;
        }
        .tabcontent{padding: 20px; height:244px; border:1px solid #ddd; border-top:none;}

        .caption{
            background-color: #e1e1e1;
            margin: 0;
            border-style: none;
        }
        .tab{
            text-align: center;
            height: auto;
        }
        #tab01{
            text-align: center;
            width: 100%;
            box-sizing: border-box;
        }
        #tab02{
            text-align: center;
            width: 100%;
            box-sizing: border-box;
        }
        .writeBtn{
            display: inline-block;
            background-color: #7DC855;
            border-radius: 6px;
            font-size: 16px;
            color: #FFFFFF;
            text-decoration: none;
            padding: 12px 30px;
            transition: all .5s;
            margin-right: 10px;
            cursor: pointer;
        }
        .writeBtn:hover {
            background-color: #64af3d;
        }
        input.writeBtn {
            border: none;
            outline: none;
        }
    </style>

</head>

<body>
<div class="catagories-side-menu">
    <!-- Close Icon -->
    <div id="sideMenuClose">
        <i class="ti-close"></i>
    </div>
    <!--  Side Nav  -->
    <div class="nav-side-menu">
        <div class="menu-list">
            <h6>Categories</h6>
            <ul id="menu-content" class="menu-content collapse out">
                <!-- Single Item -->
                <li data-toggle="collapse" data-target="#women" class="collapsed active">
                    <a href="#">Woman wear <span class="arrow"></span></a>
                    <ul class="sub-menu collapse" id="women">
                        <li><a th:href="@{|products/best/2/1|}" href="#">여성 인기 상품</a></li>
                        <li><a th:href="@{|/products/woman/category/4|}" href="#">상의</a></li>
                        <li><a th:href="@{|/products/woman/category/5|}" href="#">하의</a></li>
                        <li><a th:href="@{|/products/woman/category/6|}" href="#">원피스</a></li>
                        <li><a th:href="@{|/products/woman/category/7|}" href="#">드레스 세트</a></li>
                    </ul>
                </li>
                <!-- Single Item -->
                <li data-toggle="collapse" data-target="#man" class="collapsed">
                    <a href="#">Man Wear <span class="arrow"></span></a>
                    <ul class="sub-menu collapse" id="man">
                        <li><a th:href="@{|/products/best/2/0|}" href="#">남성 인기 상품</a></li>
                        <li><a th:href="@{|/products/man/category/4|}" href="#">상의</a></li>
                        <li><a th:href="@{|/products/man/category/5|}" href="#">하의</a></li>
                    </ul>
                </li>
                <!-- Single Item -->
                <!-- Single Item -->
                <li data-toggle="collapse" data-target="#bags" class="collapsed">
                    <a href="#">Bags &amp; SHOES <span class="arrow"></span></a>
                    <ul class="sub-menu collapse" id="bags">
                        <li><a th:href="@{|/products/category/11|}" href="#">신발</a></li>
                        <li><a th:href="@{|/products/category/12|}" href="#">가방</a></li>
                    </ul>
                </li>
                <!-- Single Item -->
                <li data-toggle="collapse" data-target="#eyewear" class="collapsed">
                    <a href="#">ACC <span class="arrow"></span></a>
                    <ul class="sub-menu collapse" id="eyewear">
                        <li><a th:href="@{|/products/category/8|}" href="#">모자</a></li>
                        <li><a th:href="@{|/products/category/9|}" href="#">양말</a></li>
                        <li><a th:href="@{|/products/category/10|}" href="#">주얼리</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<div id="wrapper">

    <!-- ****** Header Area Start ****** -->
    <header class="header_area">
        <!-- Top Header Area Start -->
        <div class="top_header_area">
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-end">

                    <div class="col-12 col-lg-7">
                        <div class="top_single_area d-flex align-items-center">
                            <!-- Logo Area 로고 이미지 -->
                            <div class="top_logo">
                                <a href="/"><img src="/img/core-img/logo.png" alt=""></a>
                            </div>

                            <!-- Cart & Menu Area -->
                            <div class="header-cart-menu d-flex align-items-center ml-auto">

                                <!-- Cart Area 장바구니 수량-->
                                <div class="cart">
                                    <a th:if="${session.loginMember != null}" href="#" id="header-cart-btn" target="_blank">
                                            <span th:if = "${session.loginMember != null}" th:text="${session.memberCart.size()}"
                                                  class="cart_quantity">0</span>
                                        <i class="ti-bag">
                                        </i>
                                        장바구니
                                    </a>
                                    <!-- Cart Area 장바구니 번호 구현 끝 -->

                                    <!--th:if = "${session.loginMember != null}"-->
                                    <!-- Cart List Area Start 장바구니 안에 내용 -->

                                    <ul class="cart-list">
                                        <li th:each="cart:${session.memberCart}">
                                            <a th:href="@{|/products/${cart.pd_nm}|}" href="#" class="image"><img th:src="|/${cart.sv_locCt}|" class="cart-thumb" alt=""></a>
                                            <div class="cart-item-desc">
                                                <h6><a th:text="|${cart.pd_nm}|" th:href="@{|/products/${cart.pd_nm}|}">Women's Fashion</a></h6>
                                                <input type="hidden" th:name="${cart.pd_idx}" th:value="${cart.pd_idx}">
                                                <p>
                                                    <span th:if="${cart.pd_size}!=null and ${cart.pd_color}!=null" style="font-size: x-small" th:text="|size : ${cart.pd_size} / color : ${cart.pd_color}|"></span><br th:if="${cart.pd_size}!=null and ${cart.pd_color}!=null">
                                                    <span th:if="${cart.pd_size}!=null and ${cart.pd_color}==null" style="font-size: x-small" th:text="|size : ${cart.pd_size}|"></span><br th:if="${cart.pd_size}!=null and ${cart.pd_color}==null">
                                                    <span th:if="${cart.pd_size}==null and ${cart.pd_color}!=null" style="font-size: x-small" th:text="|color : ${cart.pd_color}|"></span><br th:if="${cart.pd_size}==null and ${cart.pd_color}!=null">
                                                    <span class="price" th:name="${cart.pd_idx}" data-th-text="${#numbers.formatInteger(cart.sell_price, 3, 'COMMA') + '원 x '}+${cart.cart_cnt}">$10</span>
                                                </p>
                                            </div>
                                            <span class="dropdown-product-remove">
                                                    <i class="icon-cross"></i>
                                                </span>
                                        </li>
                                        <li class="total">
                                            <span class="pull-right" id="priceInit"></span>
                                            <a href="/cart" class="btn btn-sm btn-cart">장바구니</a>
                                        </li>
                                    </ul>
                                    <!-- Cart List Area Start 장바구니 안에 내용 -->


                                    <script th:inline="javascript">
                                        let totalPrice = 0;
                                        /*<![CDATA[*/
                                        if ([[${session.loginMember}]] != null) {
                                            let cart = [[${session.memberCart}]];
                                            console.log(cart);
                                            for (i = 0; i < cart.length; i++) {
                                                totalPrice+=cart[i].sell_price*cart[i].cart_cnt;
                                            }
                                            console.log(totalPrice);
                                        }

                                        /*]]>*/

                                        $('#priceInit').text("TOTAL : "+totalPrice.toLocaleString());
                                    </script>

                                </div>

                                <div class="header-right-side-menu ml-15">
                                    <a href="#" id="sideMenuBtn"><i class="ti-menu" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Top Header Area End -->
        <div class="main_header_area">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-12 d-md-flex justify-content-between">
                        <!-- Header Social Area -->
                        <div class="header-social-area">
                            <!--<a href="#"><span class="karl-level">Share</span> <i class="fa fa-pinterest" aria-hidden="true"></i></a>-->
                            <a href="#"><i class="fa fa-user-circle" aria-hidden="true"></i></a>
                            <a th:if = "${session.loginMember != null}" href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i></a> <!-- 로그아웃 -->
                            <a th:if = "${session.loginMember == null}" href="/login"><i class="fa fa-sign-in" aria-hidden="true"></i></a> <!-- 로그인 -->
                            <a href="#" id="scrollDown"><i class="fa fa-search" aria-hidden="true"></i></a> <!-- 검색 아이콘-->
                        </div>

                        <script>

                            /* 검색 아이콘 클릭시 아래로 이동 */

                            $('#scrollDown').on('click', function(e){
                                $("html, body").animate({
                                    scrollTop : $(document).height()
                                }, 800);
                                return false;
                            })

                        </script>


                        <!-- Menu Area 카테고리 수평 -->
                        <div class="main-menu-area">
                            <nav class="navbar navbar-expand-lg align-items-start">

                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#karl-navbar" aria-controls="karl-navbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"><i class="ti-menu"></i></span></button>

                                <div class="collapse navbar-collapse align-items-start collapse" id="karl-navbar">
                                    <ul class="navbar-nav animated" id="nav">
                                        <li class="nav-item active"><a class="nav-link" th:href="@{|products/best/2/2|}" href="#">Best</a></li>
                                        <li class="nav-item"><a class="nav-link" th:href="@{|products/category/1|}" href="#">Clothes</a></li>
                                        <li class="nav-item"><a class="nav-link" th:href="@{|products/category/3|}" href="#">Bag & Shoes</a></li>
                                        <li class="nav-item"><a class="nav-link" th:href="@{|products/category/2|}" href="#"><span class="karl-level">hot</span>Accessories</a></li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="karlDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Community</a>
                                            <div class="dropdown-menu" aria-labelledby="karlDropdown">
                                                <a class="dropdown-item" href="/">Home</a>
                                                <a class="dropdown-item" href="shop.html">Q&A</a>
                                                <a class="dropdown-item" href="product-details.html">Reviews</a>
                                                <!--       <a class="dropdown-item" href="cart.html">Cart</a>
                                                       <a class="dropdown-item" href="checkout.html">Checkout</a>-->
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <!-- Help Line -->
                        <div class="help-line">
                            <a href="tel:+82 10 4608 3902"><i class="ti-headphone-alt"></i>+82 10 4608 3902</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- ****** Header Area End ****** -->

    <!-- ****** Top Discount Area Start ****** -->
    <section class="top-discount-area d-md-flex align-items-center">
        <!-- Single Discount Area -->
        <div class="single-discount-area">
            <h5>오픈기념 무료 배송 &amp; 반품</h5>
            <h6><a th:href="@{/products}" href="#">BUY NOW</a></h6>
        </div>
        <!-- Single Discount Area -->
        <div class="single-discount-area">
            <h5>모든 상품 20% 할인 쿠폰</h5>
            <h6>쿠폰번호 : CMWPR23</h6>
        </div>
        <!-- Single Discount Area -->
        <div class="single-discount-area">
            <h5>선착순 100명 50% 할인 쿠폰</h5>
            <h6>쿠폰 번호 : CMW23PR</h6>
        </div>
    </section>
    <!-- ****** Top Discount Area End ****** -->

        <!-- <<<<<<<<<<<<<<<<<<<< Breadcumb Area Start <<<<<<<<<<<<<<<<<<<< -->
        <div class="breadcumb_area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <ol class="breadcrumb d-flex align-items-center">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                        </ol>
                        <!-- btn -->
                        <a href="/products" class="backToHome d-block"><i class="fa fa-angle-double-left"></i> Back to Products</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- <<<<<<<<<<<<<<<<<<<< Breadcumb Area End <<<<<<<<<<<<<<<<<<<< -->

        <!-- <<<<<<<<<<<<<<<<<<<< Single Product Details Area Start >>>>>>>>>>>>>>>>>>>>>>>>> -->
        <section class="single_product_details_area section_padding_0_100">
            <div class="container">
                <div class="row">

                    <div class="col-12 col-md-6">
                        <div class="single_product_thumb">
                            <div id="product_details_slider" class="carousel slide" data-ride="carousel">

                                <ol class="carousel-indicators">
                                    <li class="active" data-target="#product_details_slider" data-slide-to="0" th:style="'background-image: url(/'+${product.sv_loc}+')'" style="background-image: url(/img/product-img/product-9.jpg);">
                                    </li>
<!--                                    <li data-target="#product_details_slider" data-slide-to="1" style="background-image: url(/img/product-img/product-2.jpg);">
                                    </li>
                                    <li data-target="#product_details_slider" data-slide-to="2" style="background-image: url(/img/product-img/product-3.jpg);">
                                    </li>
                                    <li data-target="#product_details_slider" data-slide-to="3" style="background-image: url(/img/product-img/product-4.jpg);">
                                    </li>-->
                                </ol>

                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <a class="gallery_img" th:href="|/${product.sv_loc}|" href="/img/product-img/product-9.jpg">
                                        <img class="d-block w-100" th:src="|/${product.sv_loc}|" src="/img/product-img/product-9.jpg" alt="First slide">
                                    </a>
                                    </div>
<!--                                    <div class="carousel-item">
                                        <a class="gallery_img" href="/img/product-img/product-2.jpg">
                                        <img class="d-block w-100" src="/img/product-img/product-2.jpg" alt="Second slide">
                                    </a>
                                    </div>
                                    <div class="carousel-item">
                                        <a class="gallery_img" href="/img/product-img/product-3.jpg">
                                        <img class="d-block w-100" src="/img/product-img/product-3.jpg" alt="Third slide">
                                    </a>
                                    </div>
                                    <div class="carousel-item">
                                        <a class="gallery_img" href="/img/product-img/product-4.jpg">
                                        <img class="d-block w-100" src="/img/product-img/product-4.jpg" alt="Fourth slide">
                                    </a>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6">
                        <div class="single_product_desc">

                            <h4 class="title"><a href="#" th:text="${product.pd_nm}">Long Yellow Dress</a></h4>

                            <h4 class="price" data-th-text="'&#8361;'+${#numbers.formatInteger(product.sell_price, 3, 'COMMA')}"></h4>

<!--                            <p class="available">재고 수량: <span class="text-muted" id="pd_cnt"></span></p>-->

                            <div class="single_product_ratings mb-15">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                            <div th:if="${product.pd_size != null} or ${product.pd_color != null}"
                                 class="widget size mb-50">
                                <h6 th:if="${product.pd_color != null}"
                                    id="mainColors"
                                    class="widget-title">Color : </h6>
                                <div class="widget-desc">
                                    <ul>
                                        <li th:each="color:${findColors}"
                                            th:if="${product.pd_nm == color.pd_nm} and ${product.pd_color != null}">
                                            <a th:onclick="mainColorFn([[${color.pd_color}]])"
                                               href="#"
                                               th:text="${color.pd_color}"
                                               th:value="${color.pd_color}" style="width: auto;"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div th:if="${product.pd_size != null} or ${product.pd_color != null}"
                                 class="widget size mb-50">
                                <h6 th:if="${product.pd_size != null}"
                                    id="mainSizes"
                                    class="widget-title">Size : </h6>
                                <div class="widget-desc">
                                    <ul>
                                        <li th:each="size:${findSizes}"
                                            th:if="${product.pd_nm == size.pd_nm} and ${product.pd_size != null}">
                                            <a th:onclick="mainSizeFn([[${size.pd_size}]])"
                                               href="#"
                                               th:text="${size.pd_size}">S</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
<!--                            <div class="widget size mb-50">
                                <h6 class="widget-title">Size</h6>
                                <div class="widget-desc">
                                    <ul>
                                        <li><a href="#">32</a></li>
                                        <li><a href="#">34</a></li>
                                        <li><a href="#">36</a></li>
                                        <li><a href="#">38</a></li>
                                        <li><a href="#">40</a></li>
                                        <li><a href="#">42</a></li>
                                    </ul>
                                </div>
                            </div>-->

                            <!-- Add to Cart Form -->
                            <form id="mainCart" class="cart"
                                  method="post">

                                <div class="quantity">

                                    <span class="qty-minus" th:onclick="|mainPlus_cnt(main${product.pd_idx})|">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </span>
                                    <input type="hidden" name="pd_idx"
                                           th:value="${product.pd_idx}">
                                    <input type="hidden" name="pd_nm"
                                           th:value="${product.pd_nm}">
                                    <input th:if="${session.loginMember != null}"
                                           type="hidden" name="member_idx"
                                           th:value="${session.loginMember.member_idx}">
                                    <input type="number" class="qty-text" th:attr="id='main'+${product.pd_idx}"
                                           id="main" step="1" min="1" max="12"
                                           th:name="'cart_cnt'" name="quantity"
                                           value="1" readonly>
                                    <span class="qty-plus" th:onclick="|mainMinus_cnt(main${product.pd_idx})|">
                                        <i class="fa fa-minus" aria-hidden="true"></i>
                                    </span>


                                </div>

                                <button type="button"
                                        onclick="mainAddToCart()"
                                        value="5"
                                        class="cart-submit">Add to cart
                                </button>

                            </form>
                            <!-- Add to Cart Form -->


                            <div id="accordion" role="tablist">
                                <div class="card">
                                    <div class="card-header" role="tab" id="headingOne">
                                        <h6 class="mb-0">
                                            <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">상품 설명</a>
                                        </h6>
                                    </div>

                                    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                                        <div class="card-body">
                                            <p th:text="${product.pd_contents}"></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" role="tab" id="headingThree">
                                        <h6 class="mb-0">
                                            <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">배송료 설명</a>
                                        </h6>
                                    </div>
                                    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                                        <div class="card-body">
                                            <p>배송료 : 표준 배송, 당일 배송, 당일 새벽 배송으로 나누어집니다.</p>
                                            <p>상품 결제창에서 옵션을 선택하실 수 있습니다.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <script>


                            let mainColorPick = 'N';
                            let mainSizePick = 'N';


                            function mainColorFn(color) {
                                $('#mainColors').text('color : ' + color);
                                mainColorPick = color;
                            }

                            function mainSizeFn(size) {

                                $('#mainSizes').text('size : ' + size);
                                mainSizePick = size;
                            }


                            function mainAddToCart() {
                                let f = $('#mainCart');
                                let formData = f.serialize();
                                formData += '&pd_color=' + mainColorPick + '&pd_size=' + mainSizePick;

                                alert(formData);

                                $.ajax({
                                    type   : "POST",
                                    url    : "/cartInsert",
                                    data   : formData,
                                    success: function (data) {
                                        if (data == "Y") {
                                            alert("장바구니에 추가되었습니다.");
                                            location.href = "/";
                                        } else if (data == "NN") {
                                            location.href = "/login";
                                        } else if (data == "exist") {
                                            alert("이미 장바구니에 추가되어있는 상품입니다.")
                                        } else if (data == "noIdx") {
                                            alert("현재 상품에 대하여 관리자에게 문의해주세요.")
                                        }
                                    },
                                    error  : function (data) {
                                        alert("에러 발생!");
                                        console.log(data);
                                    }
                                });
                            }

                            function mainMinus_cnt(id) {
                                if (id.value > 1 && id.value != 0) {
                                    id.value--;
                                }
                            }

                            function mainPlus_cnt(id) {
                                if (id.value >= 0) {
                                    id.value++;
                                }
                            }

                        </script>

                    </div>
                </div>
            </div>
        </section>
        <!-- <<<<<<<<<<<<<<<<<<<< Single Product Details Area End >>>>>>>>>>>>>>>>>>>>>>>>> -->

    <th:block th:each="pd:${recommendList}">
    <!-- ****** Quick View Modal Area Start ****** -->
    <div class="modal fade" th:attr="id='quickview'+${pd.pd_idx}" tabindex="-1" role="dialog" aria-labelledby="quickview" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">

                <button type="button" class="close btn" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

                <div class="modal-body">
                    <div class="quickview_body">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 col-lg-5">
                                    <div class="quickview_pro_img">
                                        <img th:src="|/${pd.sv_loc}|" src="/img/product-img/product-1.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-12 col-lg-7">
                                    <div class="quickview_pro_des">
                                        <h4 class="title" th:text="${pd.pd_nm}"></h4>
                                        <div class="top_seller_product_rating mb-15">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                        <h5 class="price"
                                            data-th-text="'&#8361;'+${#numbers.formatInteger(pd.sell_price, 3, 'COMMA')}">
                                            $120.99 상품원가 <span>$130 할인가격</span></h5>
                                        <p th:text="${pd.pd_contents}">상품 설명란</p>
                                        <div th:if="${pd.pd_size != null} or ${pd.pd_color != null}"
                                             class="widget size mb-15">
                                            <h6 th:if="${pd.pd_color != null}"
                                                th:attr="id='colors'+${pd.pd_idx}"
                                                class="widget-title">Color : </h6>
                                            <div class="widget-desc">
                                                <ul>
                                                    <li th:each="color:${findColors}"
                                                        th:if="${pd.pd_nm == color.pd_nm} and ${pd.pd_color != null}">
                                                        <a th:onclick="colorFn([[${color.pd_color}]],[[${pd.pd_idx}]])"
                                                           href="#"
                                                           th:text="${color.pd_color}"
                                                           th:value="${color.pd_color}">RED</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div th:if="${pd.pd_size != null} or ${pd.pd_color != null}"
                                             class="widget size mb-15">
                                            <h6 th:if="${pd.pd_size != null}"
                                                th:attr="id='sizes'+${pd.pd_idx}"
                                                class="widget-title">Size : </h6>
                                            <div class="widget-desc">
                                                <ul>
                                                    <li th:each="size:${findSizes}"
                                                        th:if="${pd.pd_nm == size.pd_nm} and ${pd.pd_size != null}">
                                                        <a th:onclick="sizeFn([[${size.pd_size}]],[[${pd.pd_idx}]])"
                                                           href="#"
                                                           th:text="${size.pd_size}">S</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <a th:href="@{|/products/${pd.pd_nm}|}" href="#">상품
                                            자세히 보기</a>
                                    </div>

                                    <!-- Add to Cart Form -->
                                    <form th:attr="id='cart'+${pd.pd_idx}" class="cart"
                                          method="post">

                                        <div class="quantity">
                                            <span class="qty-minus"
                                                  th:onclick="|minus_cnt(qty${pd.pd_idx})|">
                                                <i class="fa fa-minus" aria-hidden="true"></i>
                                            </span>
                                            <input type="hidden" name="pd_idx"
                                                   th:value="${pd.pd_idx}">
                                            <input type="hidden" name="pd_nm"
                                                   th:value="${pd.pd_nm}">
                                            <input th:if="${session.loginMember != null}"
                                                   type="hidden" name="member_idx"
                                                   th:value="${session.loginMember.member_idx}">
                                            <input type="number" class="qty-text" th:attr="id='qty'+${pd.pd_idx}"
                                                   id="qty" step="1" min="1" max="12"
                                                   th:name="'cart_cnt'" name="quantity"
                                                   value="1" readonly>

                                            <span class="qty-plus"
                                                  th:onclick="|plus_cnt(qty${pd.pd_idx})|">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                            </span>

                                        </div>

                                        <button type="button"
                                                th:onclick="|addToCart(${pd.pd_idx})|"
                                                name="addtocart" value="5"
                                                class="cart-submit">Add to cart
                                        </button>

                                    </form>

                                    <div class="share_wf mt-30">
                                        <p>Share With Friend</p>
                                        <div class="_icon">
                                            <!--<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>-->
                                            <a id="copyBtn"
                                               href="#" th:onclick="copyText([[${pd.pd_nm}]])">
                                                <img src="https://developers.kakao.com/assets/img/about/logos/kakaotalksharing/kakaotalk_sharing_btn_small.png"
                                                     alt="카카오톡 공유 보내기 버튼"/>
                                            </a>


                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </th:block>
    <!-- ****** Quick View Modal Area End ****** -->


        <section class="you_may_like_area clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section_heading text-center">
                            <h2>관련 상품</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">

                        <div class="you_make_like_slider owl-carousel">

                            <!-- Single gallery Item -->
                            <div th:each="pd:${recommendList}" class="single_gallery_item">

                                <!-- Product Image -->
                                <div class="product-img">
                                    <img th:src="|/${pd.sv_loc}|" src="/img/product-img/product-1.jpg" alt="">
                                    <div class="product-quicview">
                                        <a href="#" data-toggle="modal" th:attr="data-target='#quickview'+${pd.pd_idx}"
                                           data-target="#quickview"><i class="ti-plus"></i></a>
                                    </div>
                                </div>
                                <!-- Product Description -->
                                <div class="product-description">
                                    <h4 class="product-price" data-th-text="'&#8361;'+${#numbers.formatInteger(pd.sell_price, 3, 'COMMA')}"></h4>
                                    <p th:text="${pd.pd_nm}"></p>
                                </div>

                            </div>



                        </div>

                    </div>

                </div>
            </div>
        </section>





    <script type="text/javascript">

        function copyText(text) {
            var copyText = 'http://localhost:9387/products/'+text;
            navigator.clipboard.writeText(copyText).then(function() {
                alert("텍스트가 복사되었습니다!");
            }, function() {
                alert("복사에 실패하였습니다.");
            });
        }


        /*<![CDATA[*/

        /*]]>*/

        //실제 도메인이 없어서 사용불가.
        // SDK를 초기화 합니다. 사용할 앱의 JavaScript 키를 설정해 주세요.
        /*
                                                        Kakao.init('b1ed3cf490b7a8f2ae5d33b76faec2ef');
                                                        function kakaoShare() {
                                                            Kakao.Link.sendDefault({
                                                                objectType: 'feed',
                                                                content: {
                                                                    title: 'ComeWithMe',
                                                                    description: '국내 최다 규모의 쇼핑몰 ComeWithMe 입니다.',
                                                                    imageUrl: 'http://localhost:9387/products/[[${product.pd_nm}]]',
                                                                    link: {
                                                                        mobileWebUrl: 'http://localhost:9387/products/[[${product.pd_nm}]]',
                                                                        webUrl: 'http://localhost:9387/products/[[${product.pd_nm}]]',
                                                                    },
                                                                },
                                                                buttons: [
                                                                    {
                                                                        title: '웹으로 보기',
                                                                        link: {
                                                                            mobileWebUrl: 'http://localhost:9387/products/[[${product.pd_nm}]]',
                                                                            webUrl: 'http://localhost:9387/products/[[${product.pd_nm}]]',
                                                                        },
                                                                    },
                                                                ],
                                                                // 카카오톡 미설치 시 카카오톡 설치 경로이동
                                                                installTalk: true,
                                                            })
                                                        }
        */
    </script>

    <script>


        let colorPick = 'N';
        let sizePick = 'N';

        $(document).ready(function () {

            /* Modal 창이 닫히면 실행 */
            $('[id^="quickview"]').on('hidden.bs.modal', function () {

                /* 1. 사이즈, 색상 변수 값 모두 초기화 */
                colorPick = 'N';
                sizePick = 'N';

                /* 2. 선택한 수량 초기화(1) */
                $('[id^="qty"]').val(1);

                /* 3. 입력된 size : , color : 값 초기화 */
                $('[id^="sizes"]').text('size : ');
                $('[id^="colors"]').text('color : ');

            });
        });

        function colorFn(color, id) {
            $('#colors' + id).text('color : ' + color);
            colorPick = color;
        }

        function sizeFn(size, id) {

            $('#sizes' + id).text('size : ' + size);
            sizePick = size;
        }


        function addToCart(id) {
            let idx = id;
            let f = $('#cart' + id);
            let formData = f.serialize();
            formData += '&pd_color=' + colorPick + '&pd_size=' + sizePick;

            alert(formData);

            $.ajax({
                type   : "POST",
                url    : "/cartInsert",
                data   : formData,
                success: function (data) {
                    if (data == "Y") {
                        alert("장바구니에 추가되었습니다.");
                        location.href = "/";
                    } else if (data == "NN") {
                        location.href = "/login";
                    } else if (data == "exist") {
                        alert("이미 장바구니에 추가되어있는 상품입니다.")
                    } else if (data == "noIdx") {
                        alert("현재 상품에 대하여 관리자에게 문의해주세요.")
                    }
                },
                error  : function (data) {
                    alert("에러 발생!");
                    console.log(data);
                }
            });
        }

        function minus_cnt(id) {
            if (id.value > 1 && id.value != 0) {
                id.value--;
            }
        }

        function plus_cnt(id) {
            if (id.value >= 0) {
                id.value++;
            }
        }

    </script>


    <!-- Review Modal -->
    <th:block th:each="rv:${reviews}">
        <div class="modal fade" th:attr="id='quickview'+${rv.pd_idx}+${rv.review_idx}" tabindex="-1" role="dialog" aria-labelledby="quickview" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">

                    <button type="button" class="close btn" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                    <div class="modal-body">
                        <div class="quickview_body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 col-lg-5">
                                        <div class="quickview_pro_img">
                                            <img th:src="|/${product.sv_loc}|" src="/img/product-img/product-1.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-7">
                                        <div class="quickview_pro_des">
                                            <h4 class="title" th:text="${rv.pd_nm}"></h4>
                                            <br>
                                            <div class="widget size mb-15">
                                                <h6 class="widget-title" th:text="'제목 : '+${rv.title}"></h6>
                                                <div class="widget-desc">
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="top_seller_product_rating mb-15">
                                                <h6 class="widget-title" style="display: inline">별점 : </h6>
                                                <th:block th:each="count : ${#numbers.sequence(1, 5)}">
                                                    <th:block th:if="${count <= rv.stars.intValue()}">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </th:block>
                                                    <th:block th:if="${count > rv.stars.intValue()} and ${count &lt;= 5}">
                                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                                    </th:block>
                                                </th:block>
                                            </div>
                                            <hr>
                                            <p th:text="${rv.contents}">상품 설명란</p>
                                            <br>
                                            <br>
                                            <br>

                                        </div>


                                        <div class="share_wf mt-30">
                                        <p th:text="'작성일 : '+${#dates.format(rv.date, 'yyyy-MM-dd')}">작성일</p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
    <!-- Review Modal End -->




    <div class="tab">
        <ul class="tabnav" style="display: flex; justify-content: center; align-items: center; top: 0; left: 0; right: 0; padding-top: 10px;">
            <li><a href="#tab01">상품문의</a></li>
            <li><a href="#tab02">상품리뷰</a></li>
        </ul>
        <div class="tabcontent" style="justify-content: center; align-items: center; top: 0; left: 0; right: 0; padding-top: 10px; height: auto;">
            <div id="tab01">
                <!-- 문의 tab -->
                <table class="qna">
                    <tr class="caption">
                        <th>no.</th>
                        <th>문의내용</th>
                        <th>날짜</th>
                    </tr>
                    <!-- 문의 내용 -->
                    <th:block>
                        <tr class="qna_board">
                            <td>12312414113123</td>
                            <td><a href="#">팝업창</a></td>
                            <td>작성 날짜</td>
                        </tr>
                        <tr class="qna_board">
                            <td>12312414113123</td>
                            <td><a href="#">문의 내용이 기ㅣㅣㅣㅣㅣㅣㅣㅣㅣㅣㅣㅣㅣㅣㅣㅣㅣㅣㅣㅣㅣㅣㄹ면??????????????</a></td>
                            <td>2023.03.09</td>
                        </tr>
                        <tr class="qna_board">
                            <td>12312414113123</td>
                            <td><a href="#">문의 내용이 기ㅣㅣㅣㅣㅣㅣㅣㅣㅣㅣㅣㅣㅣㅣㅣㅣㅣㅣㅣㅣㅣㅣㄹ면??????????????</a></td>
                            <td>2023.03.09</td>
                        </tr>
                        <tr class="qna_board">
                            <td>12312414113123</td>
                            <td><a href="#">문의 내용이 기ㅣㅣㅣㅣㅣㅣㅣㅣㅣㅣㅣㅣㅣㅣㅣㅣㅣㅣㅣㅣㅣㅣㄹ면??????????????</a></td>
                            <td>2023.03.09</td>
                        </tr>
                    </th:block>
                </table>
                <!-- 문의 tab 끝 -->
                <input type="button" value="문의하기" class="writeBtn" onclick="qna_writePopup();">
            </div>
            <div id="tab02">
                <!-- 리뷰 tab -->
                <table class="qna">
                    <tr class="caption">
                        <th>no.</th>
                        <th>제목</th>
                        <th>작성일</th>
                    </tr>
                    <th:block th:each="rv:${reviews}">
                        <tr class="qna_board">
                            <td th:text="${rv.review_idx}">리뷰 번호</td>
                            <td><a href="#" data-toggle="modal" th:attr="data-target='#quickview'+${rv.pd_idx}+${rv.review_idx}" th:text="${rv.contents}">리뷰</a></td>
                            <td th:text="${#dates.format(rv.date, 'yyyy-MM-dd')}">리뷰 작성일</td>
                        </tr>
                    </th:block>
                </table>
                <!-- 리뷰 tab 끝 -->
                <input type="button" class="writeBtn" value="리뷰작성">
            </div>
        </div>
    </div><!--tab-->





    <!-- ****** Footer Area Start ****** -->
    <footer class="footer_area">
        <div class="container">
            <div class="row">
                <!-- Single Footer Area Start -->
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="single_footer_area">
                        <div class="footer-logo">
                            <img src="/img/core-img/logo.png" alt="">
                        </div>
                        <div class="copywrite_text d-flex align-items-center">
                            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> &amp; distributed by <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                        </div>
                    </div>
                </div>
                <!-- Single Footer Area Start -->
                <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                    <div class="single_footer_area">
                        <ul class="footer_widget_menu">
                            <li><a href="#">About</a></li>
                            <li><a href="#">Faq</a></li>
                        </ul>
                    </div>
                </div>
                <!-- Single Footer Area Start -->
                <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                    <div class="single_footer_area">
                        <ul class="footer_widget_menu">
                            <li><a href="#">마이 페이지</a></li>
                            <li><a href="#">Community</a></li>
                        </ul>
                    </div>
                </div>
                <!-- Single Footer Area Start -->
                <div class="col-12 col-lg-5">
                    <div class="single_footer_area">
                        <div class="footer_heading mb-30">
                            <h6>Search</h6>
                        </div>
                        <div class="subscribtion_form">
                            <form action="/products/search" method="get">
                                <input type="text" name="keyword" class="mail" placeholder="">
                                <a name="search_bottom"><button id="sr_btn" type="submit" class="submit"><i class="fa fa-search" aria-hidden="true"></i></button></a>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Single Footer Area End -->

            </div>
        </div>
    </footer>
    <!-- ****** Footer Area End ****** -->
    </div>
    <!-- /.wrapper end -->

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="/js/plugins.js"></script>
    <!-- Active js -->
    <script src="/js/active.js"></script>

</body>

</html>