<!--
=========================================================
* Paper Dashboard 2 - v2.0.1
=========================================================

* Product Page: https://www.creative-tim.com/product/paper-dashboard-2
* Copyright 2020 Creative Tim (https://www.creative-tim.com)

Coded by www.creative-tim.com

 =========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="/img/core-img/favicon.ico">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Come With Me | Rest
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/assets/css/paper-dashboard.css?v=2.0.1" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="/assets/demo/demo.css" rel="stylesheet" />
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-latest.js"></script>
  <!-- 카카오 주소 API -->
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

  <style>
    #info {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

  </style>

</head>

<body class="">
  <div class="wrapper ">

    <div class="main-panel" style="width: 100%;">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <div class="top_single_area d-flex align-items-center" style="display: flex; justify-content: center; position: absolute; align-items: center; top: 0; left: 0; right: 0; padding-top: 10px;">
              <!-- Logo Area 로고 이미지 -->
              <div class="top_logo">
                <a href="/"><img src="/img/core-img/logo.png" alt=""></a>
              </div>
            </div>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="row">
          <div class="col-md-8" style="display: block; justify-content: center; position: relative; align-items: center; top: 0; left: 200px; right: 0; padding-top: 40px;">
            <div class="card card-user">
              <div class="card-header">
                <h5 class="card-title">휴면 계정 해제</h5>
              </div>
              <div class="card-body">

                  <div class="row">
                    <div class="col-md-5 pr-1">
                      <div class="form-group">
                        <label>Email (변경불가)</label>
                        <input type="text" class="form-control" th:value="${session.Members.email}" disabled="" placeholder="Email" value="">
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-4 pr-1">
                      <div class="form-group">
                        <label>회원 등급</label>
                        <input type="text" class="form-control" id="gradeName" disabled="">
                      </div>
                    </div>
                  </div>

                <script type="text/javascript" defer>
                  function setNextGrade() {
                    var gradeCode = [[${session.Members.grade_code}]];
                    switch (gradeCode) {
                      case 0:
                        $('#gradeName').val('NORMAL');
                        break;
                      case 1:
                        $('#gradeName').val('SILVER');
                        break;
                      case 2:
                        $('#gradeName').val('GOLD');
                        break;
                      case 3:
                        $('#gradeName').val('VIP');
                        break;
                      default:
                        $('#gradeName').val('UNKNOWN');
                        break;
                    }
                  }
                </script>

                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>PassWord</label>
                        <input type="password" id="pwd" th:value="${session.Members.pwd}" class="form-control" placeholder="사용 중인 비밀번호" readonly>
                      </div>
                    </div>
                  </div>


                <form id="memberInfoForm">
                <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Address</label>
                        <input type="text" id="street_address" th:value="${session.Members_detail.address}" name="address" class="form-control" placeholder="주소" readonly>
                      </div>
                    </div>
                  </div>

                  <div class="row" style="margin-bottom: 50px;">
                    <div class="col-md-5 pr-1">
                      <div class="form-group">
<!--                        <label>Address</label>-->
                        <input type="text" id="street_address2" th:value="${session.Members_detail.address_detail}" name="address_detail" class="form-control" placeholder="상세 주소" readonly>
                      </div>
                    </div>
                    <div class="col-md-4 pl-1">
                      <div class="form-group">
                        <input type="text" id="postcode" th:value="${session.Members_detail.post_code}" name="post_code" class="form-control" placeholder="우편 번호" readonly>
                      </div>
                    </div>
                  </div>

                  <div class="row" style="margin-bottom: 30px;">
                    <div class="update ml-auto mr-auto">
                      <button id="restore_btn" type="button" class="btn btn-primary btn-round">복구하기</button>
                    </div>
                  </div>
                </form>

                <script>


                  $('#restore_btn').on('click', function () {



                    $.ajax({
                      type : "POST",
                      url : "/restStatusRestore",
                      success: function (data) {
                        if(data == "Y"){
                          swal({
                            text: "휴면 상태가 해제 되었습니다.",
                            closeOnClickOutside: false
                          })
                          location.href="/login";
                        }
                      },
                      error: function(data){
                        alert("계정 복구 중 오류가 발생하였습니다. 잠시 후 재시도 해주세요.");
                        console.log(data);
                      }
                    });


                  });//클릭 처리

                </script>

              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer footer-black  footer-white ">
        <div class="container-fluid">
          <div class="row">
            <nav class="footer-nav">
              <ul>
                <li><a href="/">Main</a></li>
                <li><a href="/products">Product</a></li>
              </ul>
            </nav>
            <div class="credits ml-auto">
              <span class="copyright">
                © <script>
                  document.write(new Date().getFullYear())
                </script>, made with <i class="fa fa-heart heart"></i> by Creative Tim
              </span>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="/assets/js/core/jquery.min.js"></script>
  <script src="/assets/js/core/popper.min.js"></script>
  <script src="/assets/js/core/bootstrap.min.js"></script>
  <script src="/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chart JS -->
  <script src="/assets/js/plugins/chartjs.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="/assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="/assets/js/paper-dashboard.min.js?v=2.0.1" type="text/javascript"></script><!-- Paper Dashboard DEMO methods, don't include it in your project! -->
  <script src="/assets/demo/demo.js"></script>
  <script type="text/javascript">
    setNextGrade();
  </script>
</body>

</html>