<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Come With Me | Shop</title>

    <!-- Favicon  -->
    <link rel="icon" href="/img/core-img/favicon.ico">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="/css/core-style.css">
    <link rel="stylesheet" href="/style.css">

    <!-- Responsive CSS -->
    <link href="/css/responsive.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-latest.js"></script>

    <style>
        /*        .widget.size .widget-desc a:visited {
                             background-color: WHITE;
                             color: RED;
                         }*/

        .widget{
            border-bottom: none;
            padding-bottom: 0;
        }
        .red-text{
            background-color: #ff084e;
            color: #fff;
        }

        .widget-desc a:focus {
            border: 0px solid black;
            background-color: white;
        }
        .widget-desc a:hover {
            border: 0px solid black;
            background-color: white;
        }
        .widget-desc a:focus {
            background-color: white;
            color: #fff;
        }

    </style>

</head>

<body>
<div class="catagories-side-menu">
    <!-- Close Icon -->
    <div id="sideMenuClose">
        <i class="ti-close"></i>
    </div>
    <!--  Side Nav  -->
    <div class="nav-side-menu">
        <div class="menu-list">
            <h6>Categories</h6>
            <ul id="menu-content" class="menu-content collapse out">
                <!-- Single Item -->
                <li data-toggle="collapse" data-target="#women" class="collapsed active">
                    <a href="#">Woman wear <span class="arrow"></span></a>
                    <ul class="sub-menu collapse" id="women">
                        <li><a th:href="@{|/products/best/2/1|}" href="#">여성 인기 상품</a></li>
                        <li><a th:href="@{|/products/woman/category/4|}" href="#">상의</a></li>
                        <li><a th:href="@{|/products/woman/category/5|}" href="#">하의</a></li>
                        <li><a th:href="@{|/products/woman/category/6|}" href="#">원피스</a></li>
                        <li><a th:href="@{|/products/woman/category/7|}" href="#">드레스 세트</a></li>
                    </ul>
                </li>
                <!-- Single Item -->
                <li data-toggle="collapse" data-target="#man" class="collapsed">
                    <a href="#">Man Wear <span class="arrow"></span></a>
                    <ul class="sub-menu collapse" id="man">
                        <li><a th:href="@{|/products/best/2/0|}" href="#">남성 인기 상품</a></li>
                        <li><a th:href="@{|/products/man/category/4|}" href="#">상의</a></li>
                        <li><a th:href="@{|/products/man/category/5|}" href="#">하의</a></li>
                    </ul>
                </li>
                <!-- Single Item -->
                <!-- Single Item -->
                <li data-toggle="collapse" data-target="#bags" class="collapsed">
                    <a href="#">Bags &amp; SHOES <span class="arrow"></span></a>
                    <ul class="sub-menu collapse" id="bags">
                        <li><a th:href="@{|/products/category/11|}" href="#">가방</a></li>
                        <li><a th:href="@{|/products/category/12|}" href="#">신발</a></li>
                    </ul>
                </li>
                <!-- Single Item -->
                <li data-toggle="collapse" data-target="#eyewear" class="collapsed">
                    <a href="#">ACC <span class="arrow"></span></a>
                    <ul class="sub-menu collapse" id="eyewear">
                        <li><a th:href="@{|/products/category/8|}" href="#">모자</a></li>
                        <li><a th:href="@{|/products/category/9|}" href="#">양말</a></li>
                        <li><a th:href="@{|/products/category/10|}" href="#">주얼리</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<div id="wrapper">

    <!-- ****** Header Area Start ****** -->
    <header class="header_area">
        <!-- Top Header Area Start -->
        <div class="top_header_area">
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-end">

                    <div class="col-12 col-lg-7">
                        <div class="top_single_area d-flex align-items-center">
                            <!-- Logo Area 로고 이미지 -->
                            <div class="top_logo">
                                <a href="/"><img src="/img/core-img/logo.png" alt=""></a>
                            </div>

                            <!-- Cart & Menu Area -->
                            <div class="header-cart-menu d-flex align-items-center ml-auto">

                                <!-- Cart Area 장바구니 수량-->
                                <div class="cart">
                                    <a th:if="${session.loginMember != null}" href="#" id="header-cart-btn" target="_blank">
                                            <span th:if = "${session.loginMember != null}" th:text="${cartsList.size()}"
                                                  class="cart_quantity">0</span>
                                        <i class="ti-bag">
                                        </i>
                                        장바구니
                                    </a>
                                    <!-- Cart Area 장바구니 번호 구현 끝 -->

                                    <!--th:if = "${session.loginMember != null}"-->
                                    <!-- Cart List Area Start 장바구니 안에 내용 -->

                                    <ul class="cart-list">
                                        <li th:each="cart:${session.memberCart}">
                                            <a th:href="@{|/products/${cart.pd_idx}|}" href="#" class="image"><img th:src="|/${cart.sv_locCt}|" class="cart-thumb" alt=""></a>
                                            <div class="cart-item-desc">
                                                <h6><a th:text="|${cart.pd_nm}|" th:href="@{|/products/${cart.pd_idx}|}">Women's Fashion</a></h6>
                                                <input type="hidden" th:name="${cart.pd_idx}" th:value="${cart.pd_idx}">
                                                <p>
                                                    <span th:if="${cart.pd_size}!=null and ${cart.pd_color}!=null" style="font-size: x-small" th:text="|size : ${cart.pd_size} / color : ${cart.pd_color}|"></span><br th:if="${cart.pd_size}!=null and ${cart.pd_color}!=null">
                                                    <span th:if="${cart.pd_size}!=null and ${cart.pd_color}==null" style="font-size: x-small" th:text="|size : ${cart.pd_size}|"></span><br th:if="${cart.pd_size}!=null and ${cart.pd_color}==null">
                                                    <span th:if="${cart.pd_size}==null and ${cart.pd_color}!=null" style="font-size: x-small" th:text="|color : ${cart.pd_color}|"></span><br th:if="${cart.pd_size}==null and ${cart.pd_color}!=null">
                                                    <span class="price" th:name="${cart.pd_idx}" data-th-text="${#numbers.formatInteger(cart.sell_price, 3, 'COMMA') + '원 x '}+${cart.cart_cnt}">$10</span>
                                                </p>
                                            </div>
                                            <span class="dropdown-product-remove">
                                                    <i class="icon-cross"></i>
                                                </span>
                                        </li>
                                        <li class="total">
                                            <span class="pull-right" id="priceInit"></span>
                                            <a href="cart.html" class="btn btn-sm btn-cart">장바구니</a>
                                            <a href="checkout-1.html" class="btn btn-sm btn-checkout">결제하기</a>
                                        </li>
                                    </ul>
                                    <!-- Cart List Area Start 장바구니 안에 내용 -->


                                    <script th:inline="javascript">
                                        let totalPrice = 0;
                                        /*<![CDATA[*/
                                        if ([[${session.loginMember}]] != null) {
                                            let cart = [[${session.memberCart}]];
                                            console.log(cart);
                                            for (i = 0; i < cart.length; i++) {
                                                totalPrice+=cart[i].sell_price*cart[i].cart_cnt;
                                            }
                                            console.log(totalPrice);
                                        }

                                        /*]]>*/

                                        $('#priceInit').text("TOTAL : "+totalPrice.toLocaleString());
                                    </script>

                                </div>

                                <div class="header-right-side-menu ml-15">
                                    <a href="#" id="sideMenuBtn"><i class="ti-menu" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Top Header Area End -->
        <div class="main_header_area">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-12 d-md-flex justify-content-between">
                        <!-- Header Social Area -->
                        <div class="header-social-area">
                            <!--<a href="#"><span class="karl-level">Share</span> <i class="fa fa-pinterest" aria-hidden="true"></i></a>-->
                            <a href="#"><i class="fa fa-user-circle" aria-hidden="true"></i></a>
                            <a th:if = "${session.loginMember != null}" href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i></a> <!-- 로그아웃 -->
                            <a th:if = "${session.loginMember == null}" href="/login"><i class="fa fa-sign-in" aria-hidden="true"></i></a> <!-- 로그인 -->
                            <a href="#" id="scrollDown"><i class="fa fa-search" aria-hidden="true"></i></a> <!-- 검색 아이콘-->
                        </div>

                        <script>

                            /* 검색 아이콘 클릭시 아래로 이동 */

                            $('#scrollDown').on('click', function(e){
                                $("html, body").animate({
                                    scrollTop : $(document).height()
                                }, 800);
                                return false;
                            })

                        </script>


                        <!-- Menu Area 카테고리 수평 -->
                        <div class="main-menu-area">
                            <nav class="navbar navbar-expand-lg align-items-start">

                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#karl-navbar" aria-controls="karl-navbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"><i class="ti-menu"></i></span></button>

                                <div class="collapse navbar-collapse align-items-start collapse" id="karl-navbar">
                                    <ul class="navbar-nav animated" id="nav">
                                        <li class="nav-item active"><a class="nav-link" th:href="@{|/products/best/2/2|}" href="#">Best</a></li>
                                        <li class="nav-item"><a class="nav-link" th:href="@{|/products/category/1|}" href="#">Clothes</a></li>
                                        <li class="nav-item"><a class="nav-link" th:href="@{|/products/category/3|}" href="#">Bag & Shoes</a></li>
                                        <li class="nav-item"><a class="nav-link" th:href="@{|/products/category/2|}" href="#"><span class="karl-level">hot</span>Accessories</a></li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="karlDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Community</a>
                                            <div class="dropdown-menu" aria-labelledby="karlDropdown">
                                                <a class="dropdown-item" href="/">Home</a>
                                                <a class="dropdown-item" href="shop.html">Q&A</a>
                                                <a class="dropdown-item" href="product-details.html">Reviews</a>
                                                <!--       <a class="dropdown-item" href="cart.html">Cart</a>
                                                       <a class="dropdown-item" href="checkout.html">Checkout</a>-->
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <!-- Help Line -->
                        <div class="help-line">
                            <a href="tel:+82 10 4608 3902"><i class="ti-headphone-alt"></i>+82 10 4608 3902</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- ****** Header Area End ****** -->

    <!-- ****** Top Discount Area Start ****** -->
    <section class="top-discount-area d-md-flex align-items-center">
        <!-- Single Discount Area -->
        <div class="single-discount-area">
            <h5>오픈기념 무료 배송 &amp; 반품</h5>
            <h6><a th:href="@{/products}" href="#">BUY NOW</a></h6>
        </div>
        <!-- Single Discount Area -->
        <div class="single-discount-area">
            <h5>모든 상품 20% 할인 쿠폰</h5>
            <h6>쿠폰번호 : CMWPR23</h6>
        </div>
        <!-- Single Discount Area -->
        <div class="single-discount-area">
            <h5>선착순 100명 50% 할인 쿠폰</h5>
            <h6>쿠폰 번호 : CMW23PR</h6>
        </div>
    </section>
    <!-- ****** Top Discount Area End ****** -->

    <section class="shop_grid_area section_padding_100">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="shop_sidebar_area">

                        <div class="widget catagory mb-50">
                            <!--  Side Nav  -->
                            <div class="nav-side-menu">
                                <h6 class="mb-0">Categories</h6>
                                <div class="menu-list">
                                    <ul id="menu-content2" class="menu-content collapse out">
                                        <!-- Single Item -->
<!--                                        <li data-toggle="collapse" data-target="#all" class="collapsed">
                                            <a href="#">All</a>
                                            <ul class="sub-menu collapse" id="all">
                                                <li><a th:href="@{|products/best/1|}" href="#">여성 인기 상품</a></li>
                                            </ul>
                                        </li>-->
                                        <!-- Single Item -->                                        <!-- Single Item -->
                                        <li data-toggle="collapse" data-target="#women2" class="collapsed">
                                            <a href="#">Woman wear</a>
                                            <ul class="sub-menu collapse" id="women2">
                                                <li><a th:href="@{|/products/best/2/1|}" href="#">여성 인기 상품</a></li>
                                                <li><a th:href="@{|/products/woman/category/4|}" href="#">상의</a></li>
                                                <li><a th:href="@{|/products/woman/category/5|}" href="#">하의</a></li>
                                                <li><a th:href="@{|/products/woman/category/6|}" href="#">원피스</a></li>
                                                <li><a th:href="@{|/products/woman/category/7|}" href="#">드레스 세트</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <!-- Single Item -->
                                        <li data-toggle="collapse" data-target="#man2" class="collapsed">
                                            <a href="#">Man Wear</a>
                                            <ul class="sub-menu collapse" id="man2">
                                                <li><a th:href="@{|/products/best/2/0|}" href="#">남성 인기 상품</a></li>
                                                <li><a th:href="@{|/products/man/category/4|}" href="#">상의</a></li>
                                                <li><a th:href="@{|/products/man/category/5|}" href="#">하의</a></li>
                                            </ul>
                                        </li>
                                        <!-- Single Item -->
                                        <li data-toggle="collapse" data-target="#bags2" class="collapsed">
                                            <a href="#">Bags &amp; Shoes</a>
                                            <ul class="sub-menu collapse" id="bags2">
                                                <li><a th:href="@{|/products/category/11|}" href="#">가방</a></li>
                                                <li><a th:href="@{|/products/category/12|}" href="#">신발</a></li>
                                            </ul>
                                        </li>
                                        <!-- Single Item -->
                                        <li data-toggle="collapse" data-target="#eyewear2" class="collapsed">
                                            <a href="#">ACC</a>
                                            <ul class="sub-menu collapse" id="eyewear2">
                                                <li><a th:href="@{|/products/category/8|}" href="#">모자</a></li>
                                                <li><a th:href="@{|/products/category/9|}" href="#">양말</a></li>
                                                <li><a th:href="@{|/products/category/10|}" href="#">주얼리</a></li>
                                            </ul>
                                        </li>
                                        <!-- Single Item -->
                                    </ul>
                                </div>
                            </div>
                        </div>

<!--                        가격 시작
                        <div class="widget price mb-50">
                            <h6 class="widget-title mb-30">Filter by Price</h6>
                            <div class="widget-desc">
                                <div class="slider-range">
                                    <div data-min="0" data-max="3000" data-unit="$"
                                         class="slider-range-price ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"
                                         data-value-min="0" data-value-max="1350" data-label-result="Price:">
                                        <div class="ui-slider-range ui-widget-header ui-corner-all"></div>
                                        <span class="ui-slider-handle ui-state-default ui-corner-all"
                                              tabindex="0"></span>
                                        <span class="ui-slider-handle ui-state-default ui-corner-all"
                                              tabindex="0"></span>
                                    </div>
                                    <div class="range-price">Price: 0 - 1350</div>
                                </div>
                            </div>
                        </div>
                        가격 끝

                        색상 시작
                        <div class="widget color mb-70">
                            <h6 class="widget-title mb-30">Filter by Color</h6>
                            <div class="widget-desc">
                                <ul class="d-flex justify-content-between">
                                    <li class="gray"><a href="#"><span>(3)</span></a></li>
                                    <li class="red"><a href="#"><span>(25)</span></a></li>
                                    <li class="yellow"><a href="#"><span>(112)</span></a></li>
                                    <li class="green"><a href="#"><span>(72)</span></a></li>
                                    <li class="teal"><a href="#"><span>(9)</span></a></li>
                                    <li class="cyan"><a href="#"><span>(29)</span></a></li>
                                </ul>
                            </div>
                        </div>
                        색상 끝

                        사이즈 시작
                        <div class="widget size mb-50">
                            <h6 class="widget-title mb-30">Filter by Size</h6>
                            <div class="widget-desc">
                                <ul class="d-flex justify-content-between">
                                    <li><a href="#">XS</a></li>
                                    <li><a href="#">S</a></li>
                                    <li><a href="#">M</a></li>
                                    <li><a href="#">L</a></li>
                                    <li><a href="#">XL</a></li>
                                    <li><a href="#">XXL</a></li>
                                </ul>
                            </div>
                        </div>
                        사이즈 끝-->

                        <!--추천상품 시작-->
                        <div th:if="${suggestProducts} != null" class="widget recommended">
                            <h6 class="widget-title mb-30">추천 상품</h6>

                            <div th:each="sg:${suggestProducts}" class="widget-desc">

                                <!-- Single Recommended Product -->
                                <a th:href="@{|/products/${sg.pd_nm}|}">
                                <div class="single-recommended-product d-flex mb-30">
                                    <div class="single-recommended-thumb mr-3">
                                       <img th:src="|/${sg.sv_locCt}|" src="/img/product-img/product-10.jpg" alt="">
                                    </div>
                                    <div class="single-recommended-desc">
                                        <h6 th:text="${sg.pd_nm}">Men’s T-shirt</h6>
                                        <p data-th-text="'&#8361;'+${#numbers.formatInteger(sg.sell_price, 3, 'COMMA')}">$ 39.99</p>
                                    </div>
                                </div>
                                </a>

                            </div>
                        </div>
                        <!--추천상품 끝-->
                    </div>
                </div>

                <!-- 상품 표시 시작 -->
                <div class="col-12 col-md-8 col-lg-9">
                    <div class="shop_grid_product_area">
                        <div class="row">

                            <!-- Single gallery Item -->
                            <div th:each="pd:${newProducts}" th:id="${pd.pd_idx}"
                                 th:classappend="|${pd.pd_kind} ${pd.category_code}|"
                                 class="col-12 col-sm-6 col-lg-4 single_gallery_item wow fadeInUpBig"
                                 data-wow-delay="0.2s">

                                <script>
                                    /*<![CDATA[*/
                                    if ([[${pd.category_code}]] > 7 && [[${pd.category_code}]] < 16) {
                                        if ([[${pd.category_code}]] == 11) {
                                            $('#[[${pd.pd_idx}]]').addClass('shoes');
                                            $('#[[${pd.pd_idx}]]').removeClass('1');
                                            $('#[[${pd.pd_idx}]]').removeClass('2');
                                        } else {
                                            $('#[[${pd.pd_idx}]]').addClass('access');
                                            $('#[[${pd.pd_idx}]]').removeClass('1');
                                            $('#[[${pd.pd_idx}]]').removeClass('2');
                                        }
                                    }
                                    /*]]>*/
                                </script>

                                <!-- Product Image -->
                                <div class="product-img">
                                    <img th:src="|/${pd.sv_loc}|" src="img/product-img/product-1.jpg" alt="">
                                    <div class="product-quicview">
                                        <a href="#" data-toggle="modal" th:attr="data-target='#quickview'+${pd.pd_idx}"
                                           data-target="#quickview"><i class="ti-plus"></i></a>
                                    </div>
                                </div>
                                <!-- Product Description -->
                                <div class="product-description">
                                    <h4 class="product-price"
                                        data-th-text="'&#8361;'+${#numbers.formatInteger(pd.sell_price, 3, 'COMMA')}">
                                        $39.90</h4>
                                    <p th:text="${pd.pd_nm}">Jeans midi cocktail dress</p>
                                </div>
                                <!--기존에 없었음-->
                                <!-- ****** Quick View Modal Area Start ****** -->
                                <div class="modal fade" th:attr="id='quickview'+${pd.pd_idx}" tabindex="-1"
                                     role="dialog" aria-labelledby="quickview" aria-hidden="true">
                                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <button type="button" class="close btn" data-dismiss="modal"
                                                    aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>

                                            <div class="modal-body">
                                                <div class="quickview_body">
                                                    <div class="container">
                                                        <div class="row">
                                                            <div class="col-12 col-lg-5">
                                                                <div class="quickview_pro_img">
                                                                    <img th:src="|/${pd.sv_loc}|"
                                                                         src="img/product-img/product-1.jpg" alt="">
                                                                </div>
                                                            </div>

                                                            <div class="col-12 col-lg-7">
                                                                <div class="quickview_pro_des">
                                                                    <h4 class="title" th:text="${pd.pd_nm}">QuickView
                                                                        상품명</h4>
                                                                    <div class="top_seller_product_rating mb-15">
                                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                                    </div>

                                                                    <h5 class="price"
                                                                        data-th-text="'&#8361;'+${#numbers.formatInteger(pd.sell_price, 3, 'COMMA')}">
                                                                        $120.99 상품원가 <span>$130 할인가격</span></h5>
                                                                    <p th:text="${pd.pd_contents}">상품 설명란</p>
                                                                    <div th:if="${pd.pd_size != null} or ${pd.pd_color != null}"
                                                                         class="widget size mb-15">
                                                                        <h6 th:if="${pd.pd_color != null}"
                                                                            th:attr="id='colors'+${pd.pd_idx}"
                                                                            class="widget-title">Color : </h6>
                                                                        <div class="widget-desc">
                                                                            <ul>
                                                                                <li th:each="color:${findColors}"
                                                                                    th:if="${pd.pd_nm == color.pd_nm} and ${pd.pd_color != null}">
                                                                                    <a th:onclick="colorFn([[${color.pd_color}]],[[${pd.pd_idx}]])"
                                                                                       href="#"
                                                                                       th:text="${color.pd_color}"
                                                                                       th:value="${color.pd_color}">RED</a>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>

                                                                    <div th:if="${pd.pd_size != null} or ${pd.pd_color != null}"
                                                                         class="widget size mb-15">
                                                                        <h6 th:if="${pd.pd_size != null}"
                                                                            th:attr="id='sizes'+${pd.pd_idx}"
                                                                            class="widget-title">Size : </h6>
                                                                        <div class="widget-desc">
                                                                            <ul>
                                                                                <li th:each="size:${findSizes}"
                                                                                    th:if="${pd.pd_nm == size.pd_nm} and ${pd.pd_size != null}">
                                                                                    <a th:onclick="sizeFn([[${size.pd_size}]],[[${pd.pd_idx}]])"
                                                                                       href="#"
                                                                                       th:text="${size.pd_size}">S</a>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>

                                                                    <a th:href="@{|/products/${pd.pd_nm}|}" href="#">상품
                                                                        자세히 보기</a>
                                                                </div>

                                                                <!-- Add to Cart Form -->
                                                                <form th:attr="id='cart'+${pd.pd_idx}" class="cart"
                                                                      method="post">

                                                                    <div class="quantity">
                                                                        <span class="qty-minus"
                                                                              th:onclick="|minus_cnt(qty${pd.pd_idx})|"><i
                                                                                class="fa fa-minus"
                                                                                aria-hidden="true"></i></span>
                                                                        <input type="hidden" name="pd_idx"
                                                                               th:value="${pd.pd_idx}">
                                                                        <input type="hidden" name="pd_nm"
                                                                               th:value="${pd.pd_nm}">
                                                                        <input th:if="${session.loginMember != null}"
                                                                               type="hidden" name="member_idx"
                                                                               th:value="${session.loginMember.member_idx}">
                                                                        <input type="number" class="qty-text"
                                                                               th:attr="id='qty'+${pd.pd_idx}" id="qty"
                                                                               step="1" min="1" max="12"
                                                                               th:name="'cart_cnt'" name="quantity"
                                                                               value="1" readonly>

                                                                        <span class="qty-plus"
                                                                              th:onclick="|plus_cnt(qty${pd.pd_idx})|"><i
                                                                                class="fa fa-plus"
                                                                                aria-hidden="true"></i></span>

                                                                    </div>

                                                                    <button type="button"
                                                                            th:onclick="|addToCart(${pd.pd_idx})|"
                                                                            name="addtocart" value="5"
                                                                            class="cart-submit">Add to cart
                                                                    </button>

                                                                </form>

                                                                <div class="share_wf mt-30">
                                                                    <p>Share With Friend</p>
                                                                    <div class="_icon">
                                                                        <!--<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>-->
                                                                        <script src="https://t1.kakaocdn.net/kakao_js_sdk/2.1.0/kakao.min.js"
                                                                                integrity="sha384-dpu02ieKC6NUeKFoGMOKz6102CLEWi9+5RQjWSV0ikYSFFd8M3Wp2reIcquJOemx"
                                                                                crossorigin="anonymous"></script>
                                                                        <script>
                                                                            Kakao.init('c089c8172def97eb00c07217cae17495'); // 사용하려는 앱의 JavaScript 키 입력
                                                                        </script>
                                                                        <a id="kakaotalk-sharing-btn"
                                                                           href="javascript:shareMessage()">
                                                                            <img src="https://developers.kakao.com/assets/img/about/logos/kakaotalksharing/kakaotalk_sharing_btn_small.png"
                                                                                 alt="카카오톡 공유 보내기 버튼"/>
                                                                        </a>

                                                                        <script>
                                                                            function shareMessage() {
                                                                                Kakao.Share.sendScrap({
                                                                                    requestUrl: 'https://developers.kakao.com',
                                                                                });
                                                                            }
                                                                        </script>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <script>

                                let colorPick = 'N';
                                let sizePick = 'N';

                                $(document).ready(function () {

                                    /* Modal 창이 닫히면 실행 */
                                    $('[id^="quickview"]').on('hidden.bs.modal', function () {

                                        /* 1. 사이즈, 색상 변수 값 모두 초기화 */
                                        colorPick = 'N';
                                        sizePick = 'N';

                                        /* 2. 선택한 수량 초기화(1) */
                                        $('[id^="qty"]').val(1);

                                        /* 3. 입력된 size : , color : 값 초기화 */
                                        $('[id^="sizes"]').text('size : ');
                                        $('[id^="colors"]').text('color : ');

                                    });
                                });

                                function colorFn(color, id) {
                                    $('#colors' + id).text('color : ' + color);
                                    colorPick = color;
                                }

                                function sizeFn(size, id) {

                                    $('#sizes' + id).text('size : ' + size);
                                    sizePick = size;
                                }


                                function addToCart(id) {
                                    let idx = id;
                                    let f = $('#cart' + id);
                                    let formData = f.serialize();
                                    formData += '&pd_color=' + colorPick + '&pd_size=' + sizePick;

                                    alert(formData);

                                    $.ajax({
                                        type   : "POST",
                                        url    : "/cartInsert",
                                        data   : formData,
                                        success: function (data) {
                                            if (data == "Y") {
                                                alert("장바구니에 추가되었습니다.");
                                                location.href = "/";
                                            } else if (data == "NN") {
                                                location.href = "/login";
                                            } else if (data == "exist") {
                                                alert("이미 장바구니에 추가되어있는 상품입니다.")
                                            } else if (data == "noIdx") {
                                                alert("현재 상품에 대하여 관리자에게 문의해주세요.")
                                            }
                                        },
                                        error  : function (data) {
                                            alert("에러 발생!");
                                            console.log(data);
                                        }
                                    });
                                }

                                function minus_cnt(id) {
                                    if (id.value > 1 && id.value != 0) {
                                        id.value--;
                                    }
                                }

                                function plus_cnt(id) {
                                    if (id.value >= 0) {
                                        id.value++;
                                    }
                                }

                            </script>

                        </div>

                        <!--                        <div class="shop_pagination_area wow fadeInUp" data-wow-delay="1.1s">
                                                    <nav aria-label="Page navigation">
                                                        <ul class="pagination pagination-sm">
                                                            <li class="page-item active"><a class="page-link" href="#">01</a></li>
                                                            <li class="page-item"><a class="page-link" href="#">02</a></li>
                                                            <li class="page-item"><a class="page-link" href="#">03</a></li>
                                                        </ul>
                                                    </nav>
                                                </div>-->
                        <div class="shop_pagination_area wow fadeInUp" data-wow-delay="1.1s">
                            <nav th:with="url=${'/' + nowURL}" aria-label="Page navigation">
                                <ul class="pagination pagination-sm">
                                    <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled' : ''">
                                        <a class="page-link"
                                           th:href="@{${url}(page=1)}">&laquo;</a>
                                    </li>
                                    <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled' : ''">
                                        <a class="page-link"
                                           th:href="@{${url}(page=${currentPage - 1})}">&lt;</a>
                                    </li>
                                    <li th:if="${totalPages > 1}">
                                        <ul class="pagination pagination-sm">
                                            <li class="page-item"
                                                th:classappend="${currentPage == pageNumber} ? 'active' : ''"
                                                th:each="pageNumber : ${#numbers.sequence(1, totalPages)}">
                                                <a class="page-link"
                                                   th:href="@{${url}(page=${pageNumber})}"
                                                   th:text="${pageNumber}"></a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="page-item"
                                        th:classappend="${currentPage >= totalPages} ? 'disabled' : ''">
                                        <a class="page-link" th:href="@{${url}(page=${currentPage + 1})}">&gt;</a>
                                    </li>
                                    <li class="page-item"
                                        th:classappend="${currentPage >= totalPages} ? 'disabled' : ''">
                                        <a class="page-link" th:href="@{${url}(page=${totalPages})}">&raquo;</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>


                    </div>
                    <!-- 상품 표시 끝 -->

                </div>
            </div>
        </div>
    </section>

        <!-- ****** Footer Area Start ****** -->
        <footer class="footer_area">
            <div class="container">
                <div class="row">
                    <!-- Single Footer Area Start -->
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="single_footer_area">
                            <div class="footer-logo">
                                <img src="/img/core-img/logo.png" alt="">
                            </div>
                            <div class="copywrite_text d-flex align-items-center">
                                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> &amp; distributed by <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Footer Area Start -->
                    <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                        <div class="single_footer_area">
                            <ul class="footer_widget_menu">
                                <li><a href="#">About</a></li>
                                <li><a href="#">Faq</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Single Footer Area Start -->
                    <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                        <div class="single_footer_area">
                            <ul class="footer_widget_menu">
                                <li><a href="#">마이 페이지</a></li>
                                <li><a href="#">Community</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Single Footer Area Start -->
                    <div class="col-12 col-lg-5">
                        <div class="single_footer_area">
                            <div class="footer_heading mb-30">
                                <h6>Search</h6>
                            </div>
                            <div class="subscribtion_form">
                                <form action="/products/search" method="get">
                                    <input type="text" name="keyword" class="mail" placeholder="">
                                    <a name="search_bottom"><button id="sr_btn" type="submit" class="submit"><i class="fa fa-search" aria-hidden="true"></i></button></a>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Single Footer Area End -->

                </div>
            </div>
        </footer>
        <!-- ****** Footer Area End ****** -->
    </div>

    <!-- /.wrapper end -->

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="/js/plugins.js"></script>
    <!-- Active js -->
    <script src="/js/active.js"></script>
</body>

</html>