<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Come With Me | 회원가입</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- STYLE CSS -->
		<link rel="icon" type="image/png" href="img/core-img/favicon.ico"/>
		<link rel="stylesheet" href="signup-resource/css/style.css">
	</head>

	<body>

		<div class="wrapper">
			<div class="inner">
				<div class="image-holder">
					<img src="signup-resource/images/registration-form-4.jpg" alt="">
				</div>
				<form action="">
					<h3>Sign Up</h3>
					<div class="form-holder active">
						<input type="text" placeholder="e-mail" class="form-control" autocomplete="off"/>
					</div>
					<div class="form-holder">
						<input type="password" placeholder="Password" class="form-control" autocomplete="off"/>
					</div>
					<div class="form-holder">
						<input type="password" placeholder="Password Check" class="form-control" style="font-size: 15px;" autocomplete="off"/>
					</div>
					<div class="form-login">
						<button>Sign up</button>
						<p>계정을 보유하고 계신가요? <a href="/login">Login</a></p>
					</div>
				</form>
			</div>
		</div>

		<script src="signup-resource/js/jquery-3.3.1.min.js"></script>
		<script src="signup-resource/js/main.js"></script>






	</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>