<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Come With Me | 회원가입</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- STYLE CSS -->
		<link rel="icon" type="image/png" href="/img/core-img/favicon.ico"/>
		<link rel="stylesheet" href="/signup-resource/css/style.css">
		<!-- 제이쿼리 -->
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

		<style>
			.dpn {
				display: none !important;
			}

		</style>



	</head>

	<body>

		<div class="wrapper">
			<div class="inner">
				<div class="image-holder">
					<img src="/signup-resource/images/registration-form-4.jpg" alt="">
				</div>
				<form id="signForm" method="post">
					<h3>Sign Up</h3>
					<span id="email_ck_sp" class="dpn" style="margin-left:40px; color: Red;">이미 존재하는 이메일입니다.</span>
					<div class="form-holder active">
						<input type="text" id="email" name="email" placeholder="e-mail" class="form-control" oninput="checkEmail()" autocomplete="off"/>
					</div>
					<div class="form-holder">
						<input type="password" id="pwd" name="pwd" placeholder="Password" class="form-control" autocomplete="off"/>
					</div>
					<span id="pwd_ck_sp" class="dpn" style="margin-left:40px; color: Red;">비밀번호를 확인해주세요.</span>
					<div class="form-holder">
						<input type="password" id="pwd_check" placeholder="Password Check" class="form-control" style="font-size: 15px;" autocomplete="off"/>
					</div>

					<div class="form-login">
						<button type="button" id="form_btn">Sign up</button>
						<p>계정을 보유하고 계신가요? <a href="/login">Login</a></p>
					</div>
				</form>
			</div>
		</div>

		<script src="/signup-resource/js/jquery-3.3.1.min.js"></script>
		<script src="/signup-resource/js/main.js"></script>


		<script>

			$('#form_btn').click(function () {

				//Form Data 합치기
				let formData = $('#signForm').serialize();

				$.ajax({
					type   : "POST",
					url    : "/signup",
					data   : formData,
					success: function (data) {
						if (data == "Y") {
							alert("회원 가입이 완료되었습니다.");
							location.href = "/login";
						} else {
							alert("회원 가입에 문제가 발생하였습니다. 관리자에게 문의해주세요.");
							location.href = "redirect:/signup";
						}
					},
					error: function (data) {
						alert("잠시 후 재시도 해주세요.");
						console.log(data);
					}
				});


			});





			/* 비밀번호 체크 */
			$('#pwd_check').focusout(function (){
				let pwd = $('#pwd').val();
				let pwd_check = $('#pwd_check').val();

				if (pwd == pwd_check) {
					$('#pwd_ck_sp').addClass("dpn");
				}else{
					$('#pwd_ck_sp').removeClass("dpn");
				}

			});

			/* 이메일 중복체크 */
			function checkEmail() {

				let email = $('#email').val();

				$.ajax({
					type : "Post",
					url : "/emailCheckServer",
					data : {email : email},
					success: function(data){
						console.log(data);
						if(data > 0){//중복되는 이메일일때 동작(사용불가능 이메일)
							$('#email_ck_sp').removeClass("dpn");
						}else{//중복되는 이메일이 없을 때 동작(사용가능 이메일)
							$('#email_ck_sp').addClass("dpn");
						}
					},
					error: function(data){
						alert("잠시 후 재시도 해주세요.");
					}
				});
			}

		</script>





	</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>